<div style="
    position: relative;
">
    <img style="width: 100%; margin-top: 14%;" src="assets/Logo-INHDELVA.svg" alt="" srcset="">

    <!-- The container -->
    <div style="
        /* Displayed at the top left corner */
        left: 0px;
        position: absolute;
        top: 0px;

        /* Size */
        height: 100px;
        width: 100px;

        /* Hide the part of its children which is displayed outside */
        overflow: hidden;
    ">
        <div style="
            /* Position */
            left: -64px;
            position: absolute;
            top: 32px;

            /* Size */
            height: 24px;
            width: 206px;

            /* Displayed diagonally */
            transform: rotate(-45deg);

            /* Background color */
            background-color: rgb(81 113 166);

            /* Centerize the text content */
            text-align: center;
        ">
        </div>

    </div>
</div>