<!-- <nz-table #basicTable [nzData]="listOfData">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a>Action 一 </a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<br>
<button nz-button (click)="exportPdf()" nzType="primary">PDF</button>
<button nz-button (click)="exportExcel()" nzType="primary">Excel</button> -->
<!-- <br> -->
<h4>INFORME DE PRODUCCION MENSUAL</h4>
<h5>INSTALACIÓN SOLAR FOTOVOLTAICA INHDELVA, CHOLOMA, HONDURAS.</h5>
<br>
<div class="row" style="width: 76%; margin: auto;">
    <div class="col">
        <nz-table style="width: 80%;" nzSize="small" #basicTable [nzData]="listOfData" nzShowPagination="false">
            <tbody>
                <tr>
                    <td class="infoCelda">Proyecto:</td>
                    <td class="dataCelda">INHDELVA</td>
                </tr>
                <tr>
                    <td class="infoCelda">Cliente:</td>
                    <td class="dataCelda">INHDELVA</td>
                </tr>
                <tr>
                    <td class="infoCelda">Potencia Pico total:</td>
                    <td class="dataCelda">4,125,214.23 kWp</td>
                </tr>
                <tr>
                    <td class="infoCelda">Potencia Nominal total:</td>
                    <td class="dataCelda">458,145.32 kWn</td>
                </tr>
                <tr>
                    <td class="infoCelda">Localidad:</td>
                    <td class="dataCelda">CHOLOMA, HONDURAS.</td>
                </tr>
                <!-- <tr>
                    <td class="infoCelda">Fecha de inicio de operación:</td>
                    <td class="dataCelda"></td>
                </tr>
                <tr>
                    <td class="infoCelda">Mes/Año inicio informe:</td>
                    <td class="dataCelda"></td>
                </tr>
                <tr>
                    <td class="infoCelda">Mes/Año finalización informe:</td>
                    <td class="dataCelda"></td>
                </tr> -->
            </tbody>
        </nz-table>
    </div>
    <div class="col">
        <div class="row">
            <div class="col">
                <p style="font-size: 16px; color: black; font-weight: bold;"> Inicio: </p>
                <nz-date-picker nzMode="month" nzPlaceHolder="Inicio" [(ngModel)]="inicio" (ngModelChange)="onChange($event)"></nz-date-picker>
            </div>
            <div class="col">
                <p style="font-size: 16px; color: black; font-weight: bold;"> Fin: </p>
                <nz-date-picker nzMode="month" nzPlaceHolder="Fin" [(ngModel)]="fin" (ngModelChange)="onChange($event)"></nz-date-picker>
            </div>
        </div>
        <button nz-button nzType="primary" (click)="consultar()"><i nz-icon nzType="search"></i>Consultar</button>
    </div>
</div>
<hr>
<div>
    <button *ngIf="isVisible" nzTooltipTitle="Exportar a Excel" class="btnExcel" nz-button style="margin: 2%;" (click)="exportExcel()" nzSize="large" nzTooltipPlacement="topRight" nz-tooltip><i nz-icon nzType="file-excel"></i></button>
</div>
<nz-table #nzTable *ngIf="isVisible" [nzData]="listOfDataProduccion" nzSize="small" [nzPageSize]="25" [nzScroll]="{y: '350px', x: '6300px' }">
    <thead>
        <tr>
            <th colspan="11" style="background-color: #ffffff;"></th>
            <th colspan="7" style="background-color: #f7d8b8; border: rgb(121, 121, 121); border-style: solid; border-width: 1px; color: black;">AHORROS INHDELVA</th>
            <th colspan="4" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid; border-width: 1px; color: black;">VERIFICACION GENERACION SOLAR</th>
        </tr>
        <tr>
            <th nzRight="true" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Año de operación</th>
            <th nzRight="true" nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Mes de operación</th>
            <th nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Mes calendario</th>
            <th nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Año calendario</th>
            <th nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Producción total Energía Solar (kWh/mes)</th>
            <th nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Energía exportada hacia la red (kWh/mes)</th>
            <th nzWidth="300px" style="background-color: #d7ffd9; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Energía en autoconsumo en INHDELVA (kWh/mes)</th>
            <th nzWidth="300px" style="background-color: #efefef; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Energía consumida de la red (kWh/mes)</th>
            <th nzWidth="300px" style="background-color: #efefef; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Consumo de energía total INHDELVA (kWh/mes)</th>
            <th nzWidth="300px" style="background-color: #d7ffd9; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Fraccion de energía solar en autoconsumo (%)</th>
            <th nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Fraccion de energía solar total (%)</th>
            <th nzWidth="300px" style="background-color: #f7d8b8; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Costo de Energia INHDELVA (Lps/kWh)</th>
            <th nzWidth="300px" style="background-color: #f7d8b8; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Energia total INHDELVA (kWh/año)</th>
            <th nzWidth="300px" style="background-color: #f7d8b8; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Costo total de energía INHDELVA (Lps)</th>
            <th nzWidth="300px" style="background-color: #f7d8b8; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Consumo actual de energía de la red (kWh/año)</th>
            <th nzWidth="300px" style="background-color: #f7d8b8; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Costo energía consumida de la red (Lps)</th>
            <th nzWidth="300px" style="background-color: #f7d8b8; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Ahorro en energía por sistema solar (kWh/año)</th>
            <th nzWidth="300px" style="background-color: #f7d8b8; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Ahorro por sistema solar (Lps)</th>
            <th nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Producción real Energia Solar (kWh/mes)</th>
            <th nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Producción estimada energía solar P50 (kWh/mes)</th>
            <th nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Degradacion maxima según garantia de modulos (%)</th>
            <th nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Porcentaje de cumplimiento (%)</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of nzTable.data">
            <tr>
                <td nzRight="true" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid; border-width: 1px; color: black; width: 239px; " nzAlign="center">1</td>
                <td nzRight="true" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid; border-width: 1px; color: black; width: 240px;" nzAlign="center">{{ data.fecha | date:'M'}}</td>
                <td style="background-color: white; border: rgb(121, 121, 121); border-style: solid; border-width: 1px; color: black; width: 212px;;" nzAlign="center">{{ data.fecha | date:'MMMM'}}</td>
                <td class="tdGrisOscuro" nzAlign="center">{{ data.fecha | date:'yyyy' }}</td>
                <td class="tdGrisOscuro" nzAlign="center">{{ data.produccionTotalEnergiaSolar | number:'':'en_US' }} kWh/mes </td>
                <td class="tdGrisOscuro" nzAlign="center"> {{ data.energiaExportadaHaciaRed | number:'':'en_US' }} kWh/mes</td>
                <td class="tdVerde" nzAlign="center"> {{ data.energiaAutoconsumoINH | number:'':'en_US' }} kWh/mes</td>
                <td class="tdGrisOscuro" nzAlign="center"> {{ data.energiaConsumidaRed | number:'':'en_US' }} </td>
                <td class="tdGrisClaro" nzAlign="center"> {{ data.consumoEnergiaTotalINH | number:'':'en_US' }} kWh/mes</td>
                <td class="tdVerde" nzAlign="center"> {{ data.fraccionEnergiaSolarAutoconsumo | number:'':'en_US' }} %</td>
                <td class="tdAzul" nzAlign="center"> {{ data.fraccionEnergiaSolarTotal | number:'':'en_US' }} %</td>
                <td class="tdNaranja" nzAlign="center"> {{ data.costoEnergiaINH | number:'':'en_US' }} </td>
                <td class="tdNaranja" nzAlign="center">{{ data.energiaTotalINH | number:'':'en_US' }} kWh/mes</td>
                <td class="tdNaranja" nzAlign="center">L {{ data.costoTotalEnergiaINH | number:'':'en_US' }}</td>
                <td class="tdNaranja" nzAlign="center">{{ data.consumoActualEnergiaRed | number:'':'en_US' }} kWh/mes</td>
                <td class="tdNaranja" nzAlign="center">L {{ data.costoEnergiaConsumidaRed | number:'':'en_US' }}</td>
                <td class="tdNaranja" nzAlign="center">{{ data.ahorroEnergiaSolar | number:'':'en_US' }} kWh/mes</td>
                <td class="tdNaranja" nzAlign="center">L {{ data.ahorroSolar | number:'':'en_US' }}</td>
                <td class="tdGrisOscuro" nzAlign="center">{{ data.produccionRealEnergiaSolar | number:'':'en_US' }} kWh/mes</td>
                <td class="tdGrisOscuro" nzAlign="center">{{ data.produccionEstimadaEnergiaSolar | number:'':'en_US' }} kWh/mes</td>
                <td class="tdGrisOscuro" nzAlign="center">{{ data.degradacionMaxima | number:'':'en_US' }} %</td>
                <td class="tdGrisOscuro" nzAlign="center">{{ data.porcentajeCumplimiento | number:'':'en_US' }} %</td>
            </tr>
        </ng-container>
        <tr *ngFor="let total of listaTotales">
            <td class="totales" nzAlign="center"> TOTAL </td>
            <td colSpan="3" class="totales" nzAlign="center"> AÑO {{ total.x }} </td>
            <td class="totales" nzAlign="center"> {{ total.produccionTotalEnergiaSolar | number:'':'en_US' }} kWh/mes</td>
            <td class="totales" nzAlign="center"> {{ total.energiaExportadaHaciaRed | number:'':'en_US' }} kWh/mes</td>
            <td class="totales" nzAlign="center"> {{ total.energiaAutoconsumoINH | number:'':'en_US' }} kWh/mes</td>
            <td class="totales" nzAlign="center"> {{ total.energiaConsumidaRed | number:'':'en_US' }} </td>
            <td class="totales" nzAlign="center"> {{ total.consumoEnergiaTotalINH | number:'':'en_US'}} kWh/mes</td>
            <td class="totales" nzAlign="center"> {{ total.fraccionEnergiaSolarAutoconsumo | number:'':'en_US' }} %</td>
            <td class="totales" nzAlign="center"> {{ total.fraccionEnergiaSolarTotal | number:'':'en_US' }} %</td>
            <td class="totales" nzAlign="center"> {{ total.costoEnergiaINH | number:'':'en_US' }} </td>
            <td class="totales" nzAlign="center"> {{ total.energiaTotalINH | number:'':'en_US' }} kWh/mes</td>
            <td class="totales" nzAlign="center">L {{ total.costoTotalEnergiaINH | number:'':'en_US' }} </td>
            <td class="totales" nzAlign="center"> {{ total.consumoActualEnergiaRed | number:'':'en_US' }} kWh/mes</td>
            <td class="totales" nzAlign="center">L {{ total.costoEnergiaConsumidaRed | number:'':'en_US' }} </td>
            <td class="totales" nzAlign="center"> {{ total.ahorroEnergiaSolar | number:'':'en_US' }} kWh/mes</td>
            <td class="totales" nzAlign="center">L {{ total.ahorroSolar | number:'':'en_US' }} </td>
            <td class="totales" nzAlign="center"> {{ total.produccionRealEnergiaSolar | number:'':'en_US' }} kWh/mes</td>
            <td class="totales" nzAlign="center"> {{ total.produccionEstimadaEnergiaSolar | number:'':'en_US' }} kWh/mes</td>
            <td class="totales" nzAlign="center"> {{ total.degradacionMaxima | number:'':'en_US' }} %</td>
            <td class="totales" nzAlign="center"> {{ total.porcentajeCumplimiento | number:'':'en_US' }} %</td>

        </tr>

    </tbody>
</nz-table>
<div *ngIf="!isVisible" style="display: flex; justify-content: center;">
    <img style="width: 50%;" src="assets/Logo-INHDELVA.svg" alt="" srcset="">
</div>
<div>
    <ngx-spinner bdColor="#a4b4d2" size="medium" color="#fff"></ngx-spinner>
</div>