<!-- <nz-table #basicTable [nzData]="listOfData">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a>Action 一 </a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<br>
<button nz-button (click)="exportPdf()" nzType="primary">PDF</button>
<button nz-button (click)="exportExcel()" nzType="primary">Excel</button> -->
<!-- <br> -->
<h4>INFORME DE PRODUCCION MENSUAL</h4>
<h5>INSTALACIÓN SOLAR FOTOVOLTAICA INHDELVA, CHOLOMA, HONDURAS.</h5>
<br>
<nz-table style="width: 30%;" nzSize="small" #basicTable [nzData]="listOfData" nzShowPagination="false">
    <tbody>
        <tr>
            <td class="infoCelda">Proyecto:</td>
            <td class="dataCelda">INHDELVA</td>
        </tr>
        <tr>
            <td class="infoCelda">Cliente:</td>
            <td class="dataCelda">INHDELVA</td>
        </tr>
        <tr>
            <td class="infoCelda">Potencia Pico total:</td>
            <td class="dataCelda">4,125,214.23 kWp</td>
        </tr>
        <tr>
            <td class="infoCelda">Potencia Nominal total:</td>
            <td class="dataCelda">458,145.32 kWn</td>
        </tr>
        <tr>
            <td class="infoCelda">Localidad:</td>
            <td class="dataCelda">CHOLOMA, HONDURAS.</td>
        </tr>
        <tr>
            <td class="infoCelda">Fecha de inicio de operación:</td>
            <td class="dataCelda"></td>
        </tr>
        <tr>
            <td class="infoCelda">Mes/Año inicio informe:</td>
            <td class="dataCelda"></td>
        </tr>
        <tr>
            <td class="infoCelda">Mes/Año finalización informe:</td>
            <td class="dataCelda"></td>
        </tr>
    </tbody>
</nz-table>
<hr>
<nz-table #headerTable [nzData]="listOfData2" nzSize="small" [nzPageSize]="25" [nzScroll]="{y: '350px', x: '4800px' }">
    <thead>
        <tr>
            <th colspan="11" style="background-color: #ffffff;"></th>
            <th colspan="7" style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black;">AHORROS INHDELVA</th>
            <th colspan="4" style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black;">VERIFICACION GENERACION SOLAR</th>
        </tr>
        <tr>
            <th style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 200px;">Año de operación</th>
            <th style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 200px;">Mes de operación</th>
            <th style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 200px;">Mes calendario</th>
            <th style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 200px;">Año calendario</th>
            <th style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Producción total Energía Solar (kWh/mes)</th>
            <th style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Energía exportada hacia la red (kWh/mes)</th>
            <th style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Energía en autoconsumo en INHDELVA (kWh/mes)</th>
            <th style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Energía consumida de la red (kWh/mes)</th>
            <th style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Consumo de energía total INHDELVA (kWh/mes)</th>
            <th style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Fraccion de energía solar en autoconsumo (%)</th>
            <th style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Fraccion de energía solar total (%)</th>
            <th style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Costo de Energia INHDELVA (Lps/kWh)</th>
            <th style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Energia total INHDELVA (kWh/año)</th>
            <th style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Costo total de energía INHDELVA (Lps)</th>
            <th style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Consumo actual de energía de la red (kWh/año)</th>
            <th style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Costo energía consumida de la red (Lps)</th>
            <th style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Ahorro en energía por sistema solar (kWh/año)</th>
            <th style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Ahorro por sistema solar (Lps)</th>
            <th style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Producción real Energia Solar (kWh/mes)</th>
            <th style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Producción estimada energía solar P50 (kWh/mes)</th>
            <th style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Degradacion maxima según garantia de modulos (%)</th>
            <th style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;">Porcentaje de cumplimiento (%)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center">1</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center">1</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center">Enero</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center">2020</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center">0</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center">0</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0</td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"> 0.00 %</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center">0</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">632,250.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">3.5 %</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
        </tr>
        <tr>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center">1</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center">2</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center">Febrero</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center">2020</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center">0</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center">0</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0</td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"> 0.00 %</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center">0</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">632,250.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">3.5 %</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
        </tr>
        <tr>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center">1</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center">3</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center">Marzo</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center">2020</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center">0</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center">0</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0</td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"> 0.00 %</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center">0</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">632,250.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">3.5 %</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
        </tr>
        <tr>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center">1</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center">4</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center">Abril</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center">2020</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center">0</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center">0</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0</td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"> 0.00 %</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center">0</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">632,250.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">3.5 %</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
        </tr>
        <tr>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center">1</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center">5</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center">Mayo</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center">2020</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center">0</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center">0</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0</td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"> 0.00 %</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center">0</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">632,250.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">3.5 %</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
        </tr>
        <tr>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center">1</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center">6</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center">Junio</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center">2020</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center">0</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center">0</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0</td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"> 0.00 %</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center">0</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">632,250.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">3.5 %</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
        </tr>
        <tr>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center">1</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center">7</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center">Julio</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center">2020</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center">0</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center">0</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0</td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"> 0.00 %</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center">0</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">632,250.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">3.5 %</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
        </tr>
        <tr>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center">1</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center">8</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center">Agosto</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center">2020</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center">0</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center">0</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0</td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"> 0.00 %</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center">0</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">632,250.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">3.5 %</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
        </tr>
        <tr>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center">1</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center">9</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center">Septiembre</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center">2020</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center">0</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center">0</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0</td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"> 0.00 %</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center">0</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">632,250.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">3.5 %</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
        </tr>
        <tr>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center">1</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center">10</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center">Octubre</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center">2020</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center">0</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center">0</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0</td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"> 0.00 %</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center">0</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">632,250.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">3.5 %</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
        </tr>
        <tr>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center">1</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center">11</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center">Noviembre</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center">2020</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center">0</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center">0</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0</td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"> 0.00 %</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center">0</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">632,250.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">3.5 %</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
        </tr>
        <tr>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center">1</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center">12</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center">Diciembre</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center">2020</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center">0</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center">0</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0</td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #d7ffd9; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
            <td style="background-color: #aae0ff; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"> 0.00 %</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center">0</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: #f7d8b8; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">L -</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">632,250.00 kWh/mes</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">3.5 %</td>
            <td style="background-color: white; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center">0.00 %</td>
        </tr>
        <tr>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 247px;" nzAlign="center"><span style="font-weight: bold; color: black;">Total</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 257px;" nzAlign="center"><span style="font-weight: bold; color: black;">Año 1</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 185px;" nzAlign="center"><span style="font-weight: bold; color: black;">-</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 258px;" nzAlign="center"><span style="font-weight: bold; color: black;">-</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 505px;" nzAlign="center"><span style="font-weight: bold; color: black;">0.00 kWh/mes</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 495px;" nzAlign="center"><span style="font-weight: bold; color: black;">0.00 kWh/mes</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 535px;" nzAlign="center"><span style="font-weight: bold; color: black;">0.00 kWh/mes</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center"><span style="font-weight: bold; color: black;">0.00 kWh/mes</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 500px;" nzAlign="center"><span style="font-weight: bold; color: black;">0.00 kWh/mes</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 640px;" nzAlign="center"><span style="font-weight: bold; color: black;">0.00 %</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 520px;" nzAlign="center"><span style="font-weight: bold; color: black;">0.00 %</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center"><span style="font-weight: bold; color: black;">-</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center"><span style="font-weight: bold; color: black;">0.00 kWh/mes</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center"><span style="font-weight: bold; color: black;">L -</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center"><span style="font-weight: bold; color: black;">0.00 kWh/mes</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center"><span style="font-weight: bold; color: black;">L -</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center"><span style="font-weight: bold; color: black;">0.00 kWh/mes</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center"><span style="font-weight: bold; color: black;">L -</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center"><span style="font-weight: bold; color: black;">0.00 kWh/mes</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center"><span style="font-weight: bold; color: black;">6,645,632.23 kWh/mes</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center"><span style="font-weight: bold; color: black;">-</span></td>
            <td style="background-color: #efefef; border: rgb(201, 201, 201); border-style: solid; border-width: 1px; color: black; width: 550px;" nzAlign="center"><span style="font-weight: bold; color: black;">0.00 %</span></td>
        </tr>
    </tbody>
</nz-table>