.tdAzul {
    background-color: #aae0ff;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
}

.tdVerde {
    background-color: #d7ffd9;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
}

.tdNaranja {
    background-color: #f7d8b8;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
}

.tdBlanco {
    background-color: white;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
}

.tdGris {
    background-color: #efefef;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
}

.infoCelda {
    background-color: #bdbdbd;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
    font-weight: 500;
}

.dataCelda {
    background-color: #ffffff;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
}