<div style="display: flex;">
    <div class="login-form-container">
        <img class="imagen" src="assets/Logo-INHDELVA.svg" alt="" srcset="">
        <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
            <nz-form-item>
                <nz-form-control nzErrorTip="Por favor digite un usuario">
                    <nz-input-group nzPrefixIcon="user">
                        <input type="text" nz-input formControlName="email" placeholder="Usuario" />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <!-- <nz-form-control nzErrorTip="Por favor digite una contraseña">
                    <nz-input-group nzPrefixIcon="lock">
                        <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
                    </nz-input-group>
                </nz-form-control> -->
                <nz-form-control nzErrorTip="Por favor digite una contraseña">
                    <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                        <input [type]="passwordVisible ? 'text' : 'password'" placeholder="Contraseña" nz-input id="password" formControlName="password" />
                    </nz-input-group>
                    <ng-template #suffixTemplate>
                        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>
                </nz-form-control>
                <ng-template #suffixTemplate>
                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                </ng-template>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <a class="login-form-forgot" class="login-form-forgot">Olvidó su contraseña</a>
                    <button *ngIf="loading" class="login-form-button" nz-button nzType="primary" nzLoading nzBlock><i
                        nz-icon nzType="poweroff"></i>Comprobando</button>
                    <button nz-button *ngIf="formulario" [disabled]="!validateForm.valid" class="login-form-button" [nzType]="'primary'">Iniciar sesión</button> O
                    <a routerLink="/registro">regístrate ahora!</a>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>