<div class="row">
    <div class="col">
        <h2> Proveedores </h2>
    </div>
    <div style="display: flex; justify-content: flex-end;" class="col">
        <button nz-button nzType="primary" (click)="showModal()" nzShape="round"><i nz-icon nzType="plus"
                nzTheme="outline"></i>Nuevo proveedor</button>
    </div>
</div>
<br>
<div class="tabla">
    <nz-table #basicTable [nzData]="listOfDisplayData" nzPageSize="6">
        <thead>
            <tr>
                <th>
                    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu">
                        <i nz-icon nzType="search" style="margin-left: 30px;"></i>
                    </nz-filter-trigger>
                    <i nz-icon nzType="caret-up" nzTooltipTitle="ordenar" nzTheme="outline" nzTooltipPlacement="top" (click)="sort()" nz-tooltip></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="DosColumnas">
                <td *ngFor="let data of basicTable.data">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 text-center div-border">
                                <img src="assets/proveedor.png" style="width: 45%;">
                            </div>
                            <div class="col-9 div-border" style="position: relative;">
                                <h6 style="background-color: #d6ecff; width: fit-content;"> {{ data.Nombre }} </h6>
                                <label> {{ data.Direccion ? data.Direccion : '---'  }} </label>
                                <br>
                                <label>Telefono: {{ data.Telefono ? data.Telefono : '---' }} </label>
                                <div style="position: absolute; top: 0%; left: 81%;">
                                    <i nz-icon nzType="edit" (click)="editar(data)" nzTheme="fill" class="icon-tabla"></i>
                                    <i nz-icon nzType="close" nzTheme="outline" (click)="eliminar(data)" class="icon-tabla"></i>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col text-center">
                                <i nz-icon nzType="mail" nzTheme="outline" class="icon-tabla"></i>
                                <i nz-icon nzType="phone" nzTheme="fill" class="icon-tabla"></i>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<!-- Modal Formulario -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Configuración Proveedores" (nzOnCancel)="handleCancel()">
    <form nz-form nzLayout="vertical">
        <nz-form-item>
            <nz-form-label>Código del provedor</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input type="text" [(ngModel)]="codigo" [disabled]="codVisible" [ngModelOptions]="{standalone: true}" nz-input placeholder="Busca por código" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" (click)="busquedad()" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Empresa</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input disabled="true" nz-input [(ngModel)]="nombreEmpresa" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>RTN</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input disabled="true" nz-input [(ngModel)]="rtn" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Representante legal</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input disabled="true" nz-input [(ngModel)]="representate" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Nombre del contacto</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input disabled="true" nz-input [(ngModel)]="contacto" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Teléfono</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input disabled="true" nz-input [(ngModel)]="tel" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Email</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input disabled="true" nz-input [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Dirección</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input disabled="true" nz-input [(ngModel)]="direccion" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Imagen</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input [(ngModel)]="imagen" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <textarea nz-input [(ngModel)]="observacion" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..."></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="guardar()">Guardar</button>
    </div>
</nz-modal>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">
          Buscar
        </button>
            <button nz-button nzSize="small" (click)="reset()">Limpiar</button>
        </div>
    </div>
</nz-dropdown-menu>