<h2> Facturas emitidas </h2>
<br>
<br>
<div class="tabla">
    <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfDataFacturas" nzPageSize="6">
        <thead>
            <tr>
                <th nzWidth="30px"></th>
                <th>Código</th>
                <th>Contrato</th>
                <th>Cliente</th>
                <th>Fecha generación</th>
                <th>Energia consumida</th>
                <th>Total a pagar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td style="width: 30px;">
                    <button nz-button nzType="primary" (click)="verFactura(data)" nzShape="circle" nzTooltipTitle="Ver factura" nzTooltipPlacement="top" nz-tooltip>
                        <i nz-icon nzType="search" nzTheme="outline"></i>
                    </button>
                </td>
                <td>{{ data.codigo }}</td>
                <td>{{ data.contrato }}</td>
                <td>{{ data.cliente }}</td>
                <td>{{ data.fechaLectura | date:'yyyy/M/dd' }}</td>
                <td>{{ data.consumo | number:'':'en_US' }}</td>
                <td>{{ data.total | number:'':'en_US' }}</td>
            </tr>
        </tbody>
    </nz-table>
</div>