<h4> INFORME DE VALIDACION </h4>
<h5>INHDELVA, CHOLOMA, HONDURAS.</h5>
<br>
<div class="opciones">
    <div style="width: 60%; margin: auto;">
        <p style="font-size: 16px; color: black; font-weight: bold;"> Fechas: </p>
        <nz-range-picker [(ngModel)]="fechas"></nz-range-picker>
    </div>
    <div style="width: 60%; margin: auto;">
        <button nz-button nzType="primary" style="width: 100%;" (click)="consultar()"><i nz-icon nzType="search"></i>Consultar</button>
    </div>
</div>
<hr>
<div>
    <button *ngIf="isVisible" nzTooltipTitle="Exportar a Excel" nz-button style="margin: 1%; background-color: #095f09;" (click)="exportExcel()" nzSize="large" nzTooltipPlacement="topRight" nz-tooltip><i nz-icon nzType="file-excel"></i></button>
    <button *ngIf="isVisible" nzTooltipTitle="Exportar a PDF" nz-button style="margin: 1%; background-color: #f36161;" (click)="exportPdf()" nzSize="large" nzTooltipPlacement="topRight" nz-tooltip><i nz-icon nzType="file-pdf"></i></button>
</div>
<nz-table *ngIf="isVisible" #nzTableINH [nzData]="listOfData" nzSize="small" nzShowPagination="false">
    <tbody>
        <ng-container>
            <tr>
                <th style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black; font-size: 16px;" nzAlign="center"></th>
                <th style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black; font-size: 16px;" [colSpan]="colspan" nzAlign="center"> MES/AÑO</th>
            </tr>
            <tr>
                <th style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black; font-size: 16px;" nzAlign="center"> INFORMACIÓN GLOBAL DE INHDELVA </th>
                <th style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black; font-size: 16px;" *ngFor="let data of listOfData" nzAlign="center"> {{ data.fecha | date:'MM-yyyy' }} </th>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CONSUMO TOTAL DE ENERGIA ACTIVA DE LOS PROVEEDORES DE ENERGIA (kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.consumoTotalEA | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> TOTAL DE ENERGIA ACTIVA EXPORTADA HACIA LOS PROVEEDORES DE ENERGIA (kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.totalEAexportada | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdVerde"> TOTAL DE ENERGIA PRODUCIDA EN AUTOCONSUMO (kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.totalEnergiaProducidaAuto | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdAzul"> TOTAL DE ENERGIA CONSUMIDA INHDELVA (kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.totalEnergiaConsumida | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdVerde"> TOTAL DE ENERGIA PRODUCIDA SISTEMA SOLAR (kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.totalEnergiaProducida | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdVerde"> FRACCION DE ENERGIA SOLAR TOTAL (kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.FraccionEnergiaSolar | number:'1.4-4':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO POR ENERGIA A INHDELVA (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoEnergia | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO POR POTENCIA A INHDELVA (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoPotencia | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO POR ENERGIA REACTIVA A INHDELVA (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoReactiva | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO POR ALUMBRADO PUBLICO A INHDELVA (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoAlumbrado | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO POR COMERCIALIZACION A INHDELVA (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoComercializacion | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO POR REGULACION A INHDELVA (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoRegulacion | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> PAGO TOTAL DE ENERGIA ACTIVA A LOS PROVEEDORES DE ENERGIA (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.totalProveedores | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <th style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black; font-size: 16px;" nzAlign="center"> INFORMACION GLOBAL DE LOS USUARIOS DEL PARQUE </th>
                <th style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black; font-size: 16px;" *ngFor="let data of listOfData" nzAlign="center"> </th>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CONSUMO TOTAL DE ENERGIA ACTIVA DE LOS USUARIOS (kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.consumoTotalEAFact | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CONSUMO TOTAL DE ENERGIA ACTIVA DE SERVICIOS COMUNITARIOS (kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.consumoTotalEASC | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CONSUMO TOTAL DE ENERGIA ACTIVA DE ILUMINACION COMUNITARIA (kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.consumoTotalEAI | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> PERDIDA TOTAL DE ENERGIA USUARIOS DE MEDIA TENSION (MT)(kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.perdidaTotalMT | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> PERDIDA TOTAL DE ENERGIA USUARIOS DE BAJA TENSION (BT)(kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.perdidaTotalBT | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> PERDIDA TOTAL DE ENERGIA INTERNA USUARIOS (kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.perdidaTotal| number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> PORCENTAJE DE PERDIDA TOTAL DE ENERGIA INTERNA (%) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.perdidaTotalPor | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdAzul"> TOTAL DE ENERGIA REQUERIDA DE INHDELVA (kWh/mes) </td>
                <td *ngFor="let data of listOfData" class="tdAzul" nzAlign="center"> {{ data.totalEnergiaINH | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO TOTAL POR ENERGIA A LOS USUARIOS (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoTotalEA | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO TOTAL POR POTENCIA A LOS USUARIOS (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoTotalPotencia | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO TOTAL POR ENERGIA REACTIVA A LOS USUARIOS (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoTotalER | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO TOTAL POR COSTOS OPERATIVOS A LOS USUARIOS (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoTotalCO | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO TOTAL POR CONSUMOS COMUNITARIOS A LOS USUARIOS (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoTotalCSC | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO TOTAL POR ILUMINACION COMUNITARIA A LOS USUARIOS (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoTotalIlum | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> CARGO TOTAL POR PERDIDAS INTERNAS A LOS USUARIOS (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.cargoPI | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> FACTURACION TOTAL A LOS USUARIOS (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.facturacionTotal | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <th style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black; font-size: 16px;" nzAlign="center"> MARGEN GLOBAL FACTURACION </th>
                <th style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black; font-size: 16px;" *ngFor="let data of listOfData" nzAlign="center"> </th>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> PAGO TOTAL DE ENERGIA ACTIVA A LOS PROVEEDORES DE ENERGIA (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.pagoTotal | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> COSTO ENERGIA SOLAR (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.costoEnergiaSolar | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> COSTOS SERVICIOS ADMINISTRATIVOS, MANTENIMIENTO DE RED DE DISTRIBUCION Y EQUIPOS AUXILIARES (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.costoMant | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> FACTURACION TOTAL A LOS USUARIOS (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.factTotal | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdAzul"> DIFERENCIA ENTRE FACTURACION DE USUARIOS, CONSUMO DE INHDELVA Y COSTOS ENERGIA SOLAR (Lps) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.diferenciaFacturacionConsumo | number:'1.2-2':'en_US' }} </td>
            </tr>
            <tr>
                <td class="tdGrisOscuro"> MARGEN GLOBAL DE LA FACTURACION A LOS USUARIOS (%) </td>
                <td *ngFor="let data of listOfData" class="tdBlanco" nzAlign="center"> {{ data.porcentajeDiferencia | number:'1.2-2':'en_US' }} </td>
            </tr>
        </ng-container>
    </tbody>
</nz-table>

<br>
<div *ngIf="!isVisible" style="display: flex; justify-content: center;">
    <img style="width: 50%;" src="assets/Logo-INHDELVA.svg" alt="" srcset="">
</div>
<div>
    <ngx-spinner bdColor="#a4b4d2" size="medium" color="#fff"></ngx-spinner>
</div>