<!-- <nz-table #basicTable [nzData]="listOfData">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a>Action 一 </a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<br>
<button nz-button (click)="exportPdf()" nzType="primary">PDF</button>
<button nz-button (click)="exportExcel()" nzType="primary">Excel</button> -->
<!-- <br> -->
<h4>RESUMEN DE FACTURACION </h4>
<h5>PARQUE INDUSTRIAL INHDELVA</h5>
<br>
<div class="opciones">
    <div style="margin: 2%;">
        <p style="font-size: 16px; color: black; font-weight: bold;"> Contrato: </p>
        <nz-select [(ngModel)]="contratos" nzPlaceHolder="Seccione uno o varios" [nzOpen]="abrir" (ngModelChange)="contratosChange($event)" nzSize="default" nzMode="multiple" nzPlaceHolder="Please select">
            <nz-option nzLabel="Todos" nzValue="0">
            </nz-option>
            <nz-option *ngFor="let option of listOfContratos" [nzLabel]="option.codigo" [nzValue]="option.id">
            </nz-option>
        </nz-select>
    </div>
    <div style="margin: 2%;">
        <p style="font-size: 16px; color: black; font-weight: bold;"> Fechas: </p>
        <nz-range-picker [(ngModel)]="fechas"></nz-range-picker>
    </div>
    <div style="width: 100%; margin: auto;">
        <button nz-button nzType="primary" (click)="consultar()"><i nz-icon nzType="search"></i>Consultar</button>
    </div>

</div>
<hr>
<div>
    <button *ngIf="isVisible" nzTooltipTitle="Exportar a Excel" nz-button style="margin: 1%; background-color: #095f09;" (click)="exportExcel()" nzSize="large" nzTooltipPlacement="topRight" nz-tooltip><i nz-icon nzType="file-excel"></i></button>
    <button *ngIf="isVisible" nzTooltipTitle="Exportar a PDF" nz-button style="margin: 1%; background-color: #f36161;" (click)="exportPdf()" nzSize="large" nzTooltipPlacement="topRight" nz-tooltip><i nz-icon nzType="file-pdf"></i></button>
</div>
<nz-table *ngIf="isVisible" #nzTable [nzPageSize]="25" [nzData]="listOfData" nzSize="small" [nzScroll]="{y: '400px', x: '13200px' }">
    <thead>
        <tr>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Nave</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Empresa</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Cuenta</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Codigo medidor</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Codigo tarifa</th>
            <th nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Energia Activa (EA)</th>
            <th nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Energia reactiva (ER) </th>
            <th nzWidth="300px" style="background-color: #aae0ff; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Potencia maxima (PM)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Factor potencia (FP)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Fraccion de energia solar en autoocnsumo (FS) </th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Precio base de energia (PBE)</th>
            <th nzWidth="300px" style="background-color: #d7ffd9; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Cargo por energia(CPE)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Promedio potencia 11 meses (P11)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Precio base potencia (PBP)</th>
            <th nzWidth="300px" style="background-color: #d7ffd9; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Cargo por potencia (CPC) </th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Factor de recargo (FR)</th>
            <th nzWidth="300px" style="background-color: #d7ffd9; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Cargo por energia reactiva (CER)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Costo operativo sistema solar (COS)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Costo operativo mantenimiento red de distribucion (COR)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Costo operativo de mantenimiento de equipos auxiliares (COE)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Costos administrativos (COA)</th>
            <th nzWidth="300px" style="background-color: #d7ffd9; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Cargo por costos operativos (CCO)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Punto de medida</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Perdidas internas (PI)</th>
            <th nzWidth="300px" style="background-color: #d7ffd9; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Cargo por perdidas internas (CPI)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Energia activa consumida en Alumbrado Público (EAAP)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Precio de la energia tarifa Alumbrado Público (EAP)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Energía total consumida por los usuarios (ETCU)</th>
            <th nzWidth="300px" style="background-color: #d7ffd9; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Cargo por iluminación comunitaria (CIC)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Energia activa consumida en servicios comunitarios (EASC)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Precio de la energia tarifa Servicio General de Baja Tensión (EBT)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Energía total consumida por los usuarios (ETCU)</th>
            <th nzWidth="300px" style="background-color: #d7ffd9; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">Cargo por servicios comunitarios (CSC)</th>
            <th nzWidth="300px" style="background-color: #d7ffd9; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;">CARGOS TOTALES TARIFA</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of nzTable.data">
            <tr>
                <td class="tdBlanco" nzAlign="center"> {{ data.nave }} </td>
                <td class="tdBlanco" nzAlign="center">{{ data.empresa }}</td>
                <td class="tdBlanco" nzAlign="center">{{ data.cuenta }}</td>
                <td class="tdBlanco" nzAlign="center"> {{ data.medidor }} </td>
                <td class="tdBlanco" nzAlign="center"> {{ data.tarifa }} </td>
                <td class="tdAzul" nzAlign="center">{{ data.EA | number:'':'en_US'}} kWh/mes</td>
                <td class="tdAzul" nzAlign="center"> {{ data.ER | number:'':'en_US' }} kVArh/mes</td>
                <td class="tdAzul" nzAlign="center">{{ data.PM | number:'':'en_US' }} kW</td>
                <td class="tdGrisClaro" nzAlign="center">{{ data.FP | number:'':'en_US' }} </td>
                <td class="tdGrisClaro" nzAlign="center">{{ data.FS | number:'':'en_US' }} </td>
                <td class="tdBlanco" nzAlign="center">L {{ data.PBE | number:'':'en_US' }} Lps/kWh</td>
                <td class="tdVerde" nzAlign="center"> {{ data.CPE | number:'':'en_US' }} Lps</td>
                <td class="tdGrisClaro" nzAlign="center"> {{ data.P11 | number:'':'en_US' }} kW</td>
                <td class="tdBlanco" nzAlign="center"> {{ data.PBP | number:'':'en_US' }} Lps/kW-mes</td>
                <td class="tdVerde" nzAlign="center"> {{ data.CPC | number:'':'en_US' }} Lps</td>
                <td class="tdGrisClaro" nzAlign="center"> {{ (data.FP
                    < 0.9 && data.FP !==0 ) ? (0.9/data.FP)-1 : 0 | number: '': 'en_US' }} </td>
                        <td class="tdVerde" nzAlign="center"> {{ data.CER | number:'':'en_US' }} Lps</td>
                        <td class="tdBlanco" nzAlign="center">L {{ data.COS | number:'':'en_US' }} Lps/KwH</td>
                        <td class="tdBlanco" nzAlign="center">L {{ data.COR | number:'':'en_US' }} Lps/KwH</td>
                        <td class="tdBlanco" nzAlign="center">L {{ data.COE | number:'':'en_US' }} Lps/KwH</td>
                        <td class="tdBlanco" nzAlign="center">L {{ data.COA | number:'':'en_US' }} Lps/KwH</td>
                        <td class="tdVerde" nzAlign="center"> {{ data.CCO | number:'':'en_US' }} Lps/kWh</td>
                        <td class="tdBlanco" nzAlign="center"> {{ data.PuntoMedida }}</td>
                        <td class="tdGrisClaro" nzAlign="center">L {{ data.PI | number:'':'en_US' }}</td>
                        <td class="tdVerde" nzAlign="center"> {{ data.CPI | number:'':'en_US' }} Lps</td>
                        <td class="tdGrisClaro" nzAlign="center"> {{ data.EAAP | number:'':'en_US' }} kWh/mes</td>
                        <td class="tdBlanco" nzAlign="center"> {{ data.EAP | number:'':'en_US' }}Lps/kWh</td>
                        <td class="tdGrisClaro" nzAlign="center"> {{ data.ETCU | number:'':'en_US' }} kWh/mes</td>
                        <td class="tdVerde" nzAlign="center"> {{ data.CIC | number:'':'en_US' }} Lps/kWh</td>
                        <td class="tdGrisClaro" nzAlign="center"> {{ data.EASC | number:'':'en_US' }} kWh/mes</td>
                        <td class="tdBlanco" nzAlign="center"> {{ data.EBT | number:'':'en_US' }} Lps/kWh</td>
                        <td class="tdGrisClaro" nzAlign="center"> {{ data.ETCU | number:'':'en_US' }} kWh/mes</td>
                        <td class="tdVerde" nzAlign="center"> {{ data.CSC | number:'':'en_US' }} Lps/kWh</td>
                        <td class="tdVerde" nzAlign="center"> {{ data.TOTAL | number:'':'en_US' }} Lps</td>
            </tr>

        </ng-container>

        <tr>
            <td colSpan="5" style="background-color: #d7ffd9; border: rgb(102, 102, 102); border-style: solid; border-width: 1px; color: black; font-weight: bold;" nzAlign="right"> TOTAL CLIENTES </td>
            <td *ngFor="let total of listaTotales" class="footer" nzAlign="center"> {{ total | number:'':'en_US' }} </td>
        </tr>
    </tbody>
</nz-table>
<div *ngIf="!isVisible" style="display: flex; justify-content: center;">
    <img style="width: 50%;" src="assets/Logo-INHDELVA.svg" alt="" srcset="">
</div>
<div>
    <ngx-spinner bdColor="#a4b4d2" size="medium" color="#fff"></ngx-spinner>
</div>