.tdAzul {
    background-color: #aae0ff;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
}

.tdVerde {
    background-color: #d7ffd9;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
}

.tdNaranja {
    background-color: #f7d8b8;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
}

.tdBlanco {
    background-color: white;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
}

.tdGris {
    background-color: #efefef;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
}

.infoCelda {
    background-color: #bdbdbd;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
    font-weight: 500;
}

.dataCelda {
    background-color: #ffffff;
    border: rgb(201, 201, 201);
    border-style: solid;
    border-width: 1px;
    color: black;
}

nz-select {
    width: 100%;
}

nz-range-picker {
    margin: 0 8px 12px 0;
}

.opciones {
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . .";
}

.ant-btn-primary {
    color: #fff;
    background-color: #334d7c;
    border-color: #334d7c;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
}

.footer {
    background-color: #d7ffd9;
    border: rgb(121, 121, 121);
    border-style: solid;
    border-width: 1px;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

.cargando {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 150px;
    /* margin: 20px 0; */
}