.tabla {
    width: 75%;
    margin: auto;
}

.ant-btn {
    line-height: 0.5;
}

.ant-btn-primary {
    color: #fff;
    background-color: #334d7c;
    border-color: #334d7c;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .045);
}

nz-select {
    width: 100%;
}

td {
    background-color: white;
}

nz-date-picker {
    margin: 0 8px 12px 0;
}

nz-input-number {
    margin-right: 8px;
}

nz-form-item,
nz-form-label,
nz-form-control {
    margin-top: 0px;
    margin-bottom: 0px;
}

div.ant-card-head.ng-star-inserted {
    background-color: #dbeeff;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: ". .";
}

.grid-form {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    grid-template-rows: 1fr;
    gap: 1% 2%;
    grid-template-areas: ". .";
}

.opciones {
    width: 30%;
    margin-bottom: 3%;
}

nz-date-picker,
nz-range-picker {
    margin: 0 8px 12px 0;
}

.search-box {
    padding: 8px;
}

.search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
}

.search-box button {
    width: 90px;
}

.search-button {
    margin-right: 8px;
}