<div class="row">
    <div class="col">
        <h2> Contratos </h2>
    </div>
    <div style="display: flex; justify-content: flex-end;" class="col">
        <button nz-button nzType="primary" (click)="showModal()" nzShape="round"><i nz-icon nzType="plus"
                nzTheme="outline"></i>Nuevo contrato</button>
    </div>
</div>
<br>
<br>
<div class="tabla">
    <nz-table #nzTable [nzData]="listOfDataContrato" nzPageSize="5" nzTableLayout="fixed" nzPageSize="5">
        <thead>
            <tr>
                <th nzWidth="60px"></th>
                <th nzWidth="30px"></th>
                <th nzWidth="30px"></th>
                <th>Codigo</th>
                <th>Cliente</th>
                <th>Clasificación</th>
                <th>Creación</th>
                <th>Medidores</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of nzTable.data">
                <tr>
                    <td [nzExpand]="expandSet.has(data.id)" nzShowExpand="true" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                    <td style="width: 30px;">
                        <button nz-button nzType="primary" (click)="editarContrato(data)" nzShape="circle">
                            <i nz-icon nzType="edit" nzTheme="outline"></i>
                        </button>
                    </td>
                    <td style="width: 30px;">
                        <button nz-button nzType="primary" (click)="eliminarContrato(data)" nzShape="circle">
                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                        </button>
                    </td>
                    <td>{{ data.codigo }}</td>
                    <td>{{ data.actor.codigo }}</td>
                    <td>{{ data.clasificacion }}</td>
                    <td>{{ data.fechaCreacion | date:'yyyy/M/dd' }}</td>
                    <td>
                        <button nz-button nzType="primary" nzSize="small" (click)="showModalMedidor(data)" nzShape="round">Medidores</button>

                    </td>
                </tr>
                <tr [nzExpand]="expandSet.has(data.id)">
                    <td colSpan="5"><span style="color: black; font-weight: bold;"> Descripción: </span> {{ data.descripcion }}</td>
                    <td colSpan="3"><span style="color: black; font-weight: bold;"> Observación: </span> {{ data.observacion }}</td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</div>

<!-- Modal Formulario contrato-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Configuración Contratos" (nzOnCancel)="handleCancel()">
    <form nz-form nzLayout="vertical" (ngSubmit)="submitForm()" [formGroup]="validateFormContrato">
        <div class="row">
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Código</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <input nz-input formControlName="codigo" placeholder="Escribe aquí..." />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Clasificación</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="clasificacion" placeholder="Seleccione una...">
                            <nz-option nzValue="C" nzLabel="Cliente"></nz-option>
                            <nz-option nzValue="P" nzLabel="Proveedor "></nz-option>
                            <nz-option nzValue="I" nzLabel="Interno "></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <nz-form-item>
            <nz-form-label>Descripción</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input formControlName="descripcion" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Dueño del contrato</nz-form-label>
            <nz-form-control>
                <nz-select formControlName="actorId" placeholder="Seleccione una..." nzShowSearch nzAllowClear>
                    <nz-option *ngFor="let cliente of listaClientes" [nzValue]="cliente.Id" [nzLabel]="cliente.Nombre">
                    </nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-card style="width: 100%;" nzTitle="Fechas">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <nz-form-item>
                            <nz-form-label>Creación</nz-form-label>
                            <nz-form-control>
                                <nz-range-picker [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm" formControlName="fechaCreacion" (nzOnOk)="onOk($event)"></nz-range-picker>
                                <!-- <nz-range-picker formControlName="fechaCreacion" [nzFormat]="dateFormat">
                                </nz-range-picker> -->
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="w-100"></div>
                    <div class="col">
                        <nz-form-item>
                            <nz-form-label>Día generación factura</nz-form-label>
                            <p style="color: #e00000; font-size: 10px; margin: -8% 0% 0% 0%;">Día inicio en rango de facturación ({{validarDia}})</p>
                            <nz-form-control>
                                <nz-select nzShowSearch nzAllowClear formControlName="diaGeneracion">
                                    <nz-option *ngFor="let item of diasGeneracion" [nzValue]="item" [nzLabel]="item">
                                    </nz-option>
                                    <nz-option nzValue="30" nzLabel="Ultimo día"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div class="col">
                        <nz-form-item>
                            <nz-form-label>Días disponibles para pago</nz-form-label>
                            <nz-form-control>
                                <div style="display: flex; justify-content: flex-start;">
                                    <nz-input-number formControlName="diasDisponibles" [nzMin]="0" [nzStep]="1">
                                    </nz-input-number>
                                    <label style="color: black; font-size: 17px; margin-left: 2%;"> Días</label>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
        </nz-card>
        <nz-form-item>
            <nz-form-control>
                <nz-form-label>Exportación de Facturas</nz-form-label>
                <nz-radio-group formControlName="exportacion">
                    <label nz-radio nzValue="false">Individuales</label>
                    <label nz-radio nzValue="true">Por contrato</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <textarea nz-input formControlName="observacion" placeholder="Escribe aquí..."></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="guardarContrato()">Guardar</button>
    </div>
</nz-modal>

<!-- Modal contrato medidor -->
<nz-modal [(nzVisible)]="isVisibleMedidor" nzTitle="Configuración Medidores" nzWidth="1000" (nzOnCancel)="handleCancelMedidor()">
    <div class="opciones">
        <label style="color: black;">Tipo de fechas</label>
        <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="changeOpcion($event)">
            <label nz-radio nzValue="A">Fechas contrato</label>
            <label nz-radio nzValue="B">Específicas</label>
        </nz-radio-group>
    </div>
    <hr>
    <form style="width: 850px; margin: auto;" nz-form nzLayout="vertical" (ngSubmit)="submitForm()" [formGroup]="validateFormMedidores">
        <div class="grid-form">
            <div>
                <nz-form-item>
                    <nz-form-label>Código del medidor</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="medidorId" [(ngModel)]="medidorId" nzPlaceHolder="Buscar medidor..." nzShowSearch nzAllowClear>
                            <nz-option *ngFor="let option of listOfMedidores" [nzLabel]="option.codigo" [nzValue]="option.id"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Zona</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="zonaId" nzShowSearch nzAllowClear [nzDisabled]="isVisibleZona">
                            <nz-option *ngFor="let zona of listaZonas" [nzValue]="zona.id" [nzLabel]="zona.codigo">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Área de localización</nz-form-label>
                    <nz-form-control>
                        <div style="display: flex; justify-content: flex-start;">
                            <nz-input-number [nzDisabled]="isVisibleOtro" formControlName="area" [nzMin]="0" [nzStep]="1">
                            </nz-input-number>
                            <label style="color: black; font-size: 17px; margin-left: 2%;">m²</label>
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Potencia contratada</nz-form-label>
                    <nz-form-control>
                        <div style="display: flex; justify-content: flex-start;">
                            <nz-input-number [nzDisabled]="isVisibleOtro" formControlName="potencia" [nzMin]="0" [nzStep]="1">
                            </nz-input-number>
                            <label style="color: black; font-size: 17px; margin-left: 2%;"> kW</label>
                        </div>
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-label>Alimentación del punto de medición</nz-form-label>
                    <div class="grid-container">
                        <div style="display: flex; justify-content: center;">
                            <nz-form-label>Trifasica</nz-form-label>
                        </div>
                        <div>
                            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                                <nz-switch [nzDisabled]="isVisibleOtro" formControlName="trifasica"></nz-switch>
                            </nz-form-control>
                        </div>
                    </div>
                </nz-form-item>
            </div>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <nz-form-item>
                                <nz-form-label>Tipo de servicio</nz-form-label>
                                <nz-form-control>
                                    <nz-select [nzDisabled]="isVisibleInterno" formControlName="tipoServicioId" nzShowSearch nzAllowClear>
                                        <nz-option *ngFor="let servicio of listaServicios" [nzValue]="servicio.id" [nzLabel]="servicio.descripcion"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col">
                            <nz-form-item>
                                <nz-form-label>Tarifa</nz-form-label>
                                <nz-form-control>
                                    <nz-select [nzDisabled]="isVisibleTarifa" formControlName="tarifaId" nzShowSearch nzAllowClear>
                                        <nz-option *ngFor="let tarifa of listaTarifas" [nzValue]="tarifa.id" [nzLabel]="tarifa.codigo"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="w-100"></div>
                        <div class="col" style="display: flex; justify-content: center;">
                            <nz-form-item>
                                <nz-form-label>Fecha inicial - Fecha final</nz-form-label>
                                <nz-form-control>
                                    <nz-range-picker [nzDisabled]="rangoFechas" [nzShowTime]="{ nzFormat: 'HH:mm' }" nzFormat="yyyy-MM-dd HH:mm" formControlName="fechaInicial" (nzOnOk)="onOk($event)"></nz-range-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Cargo por iluminación
                    </div>
                    <div class="card-body row">
                        <div class="col">
                            <nz-form-item>
                                <nz-form-control>
                                    <nz-form-label>Tipo de cobro</nz-form-label>
                                    <nz-radio-group [nzDisabled]="isVisibleOtro" formControlName="iluminacionTC">
                                        <label nz-radio nzValue="false">Energía activa(kWh)</label>
                                        <label nz-radio nzValue="true">Área(m²)</label>
                                    </nz-radio-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col">
                            <nz-form-item>
                                <nz-form-label>Porcentaje de cargo</nz-form-label>
                                <nz-form-control>
                                    <div style="display: flex; justify-content: flex-start;">
                                        <nz-input-number [nzDisabled]="isVisibleOtro" formControlName="iluminacionP" [nzMin]="0" [nzStep]="1">
                                        </nz-input-number>
                                        <label style="color: black; font-size: 17px; margin-left: 2%;"> %</label>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Cargo por servicios comunitarios
                    </div>
                    <div class="card-body row">
                        <div class="col">
                            <nz-form-item>
                                <nz-form-control>
                                    <nz-form-label>Tipo de cobro</nz-form-label>
                                    <nz-radio-group [nzDisabled]="isVisibleOtro" formControlName="sComTC">
                                        <label nz-radio nzValue="false">Energía activa(kWh)</label>
                                        <label nz-radio nzValue="true">Área(m²)</label>
                                    </nz-radio-group>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col">
                            <nz-form-item>
                                <nz-form-label>Porcentaje de cargo</nz-form-label>
                                <nz-form-control>
                                    <div style="display: flex; justify-content: flex-start;">
                                        <nz-input-number [nzDisabled]="isVisibleOtro" formControlName="sComP" [nzMin]="0" [nzStep]="1">
                                        </nz-input-number>
                                        <label style="color: black; font-size: 17px; margin-left: 2%;"> %</label>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <nz-form-item>
                <nz-form-label>Observación</nz-form-label>
                <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                    <textarea nz-input formControlName="observacion" placeholder="Escribe aquí..."></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>
        <nz-form-item>
            <nz-form-control>
                <div class="row">
                    <div class="col">
                        <button nz-button style="width: 100%;" nzType="default" (click)="handleCancelMedidor()">Cancelar</button>
                    </div>
                    <div class="col">
                        <button nz-button style="width: 100%;" nzType="primary" (click)="guardarMedidor()">Guardar</button>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>
    </form>
    <br>
    <div style="background-color: #f3f9ff; padding: 15px;">
        <h6> Listado de medidores </h6>
        <nz-table #nzTableParametro [nzData]="listaMedidoresFiltrado" nzSize="small" nzTableLayout="fixed" nzPageSize="4">
            <thead>
                <tr>
                    <th nzWidth="60px"></th>
                    <th>Medidor</th>
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th nzWidth="30px"></th>
                    <th nzWidth="30px"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of nzTableParametro.data">
                    <tr>
                        <td [nzExpand]="expandSet.has(data.id)" nzShowExpand="true" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                        <td>{{ data.medidor.codigo }}</td>
                        <td>{{ data.fechaInicial | date:'yyyy/M/dd' }}</td>
                        <td>{{ data.fechaFinal | date:'yyyy/M/dd' }}</td>
                        <td style="width: 30px;">
                            <button nz-button nzType="primary" (click)="editarMedidor(data)" nzShape="circle">
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </button>
                        </td>
                        <td style="width: 30px;">
                            <button nz-button nzType="primary" (click)="eliminarMedidor(data)" nzShape="circle">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(data.id)">
                        <td colSpan="6"><span style="color: black; font-weight: bold;"> Observación: </span> {{ data.observacion }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="primary" (click)="handleOkMedidor()">OK</button>
    </div>
</nz-modal>