<div class="row">
    <div class="col">
        <h2> Cargos especiales </h2>
    </div>
    <div style="display: flex; justify-content: flex-end;" class="col">
        <button nz-button nzType="primary" nzSize="large" (click)="showModal()" nzShape="round"><i nz-icon nzType="plus"
              nzTheme="outline"></i>Nuevo cargo</button>
    </div>
</div>
<br>
<br>
<div class="tabla">
    <nz-table #nzTable [nzData]="listOfData" nzTableLayout="fixed">
        <thead>
            <tr>
                <th nzWidth="60px"></th>
                <th nzWidth="30px"></th>
                <th nzWidth="30px"></th>
                <th>Fecha inicio</th>
                <th>Fecha final</th>
                <th>Total cargos</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of nzTable.data">
                <tr>
                    <td [nzExpand]="expandSet.has(data.id)" nzShowExpand="true" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                    <td style="width: 30px;">
                        <button nz-button nzType="primary" nzShape="circle">
                          <i nz-icon nzType="edit" nzTheme="outline"></i>
                      </button>
                    </td>
                    <td style="width: 30px;">
                        <button nz-button nzType="primary" nzShape="circle">
                          <i nz-icon nzType="delete" nzTheme="outline"></i>
                      </button>
                    </td>
                    <td>{{ data.fechaInicial | date:'yyyy/M/dd'}}</td>
                    <td>{{ data.fechaFinal | date:'yyyy/M/dd'}}</td>
                    <td>{{ data.financiamiento }}</td>
                </tr>
                <tr [nzExpand]="expandSet.has(data.id)">
                    <td colSpan="6">{{ data.observacion }}</td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</div>

<!-- Modal Formulario -->
<nz-modal [(nzVisible)]="isVisible" nzWidth="450" nzTitle="Configuración Cargos especiales" (nzOnCancel)="handleCancel()">
    <form nz-form nzLayout="vertical" (ngSubmit)="submitForm()" [formGroup]="validateForm">
        <div style="display: flex; justify-content: center;">
            <nz-form-item>
                <nz-form-label>Fecha inicial - Fecha final</nz-form-label>
                <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                    <nz-range-picker style="width: 100%; margin: auto;" formControlName="fechaInicial" [nzFormat]="dateFormat"></nz-range-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="row">
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Cargo por financiamiento</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <div style="display: flex; justify-content: flex-start;">
                            <label style="font-size: 17px; margin-right: 2%;"> Lps.</label>
                            <nz-input-number style="margin: 0px;" formControlName="financiamiento" [nzMin]="0" [nzStep]="1">
                            </nz-input-number>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Reactificación/Ajuste</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <div style="display: flex; justify-content: flex-start;">
                            <label style="font-size: 17px;margin-right: 2%;"> Lps.</label>
                            <nz-input-number style="margin: 0px;" [nzMin]="0" formControlName="rectificacion" [nzStep]="1">
                            </nz-input-number>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Cargo por corte</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <div style="display: flex; justify-content: flex-start;">
                            <label style="font-size: 17px;margin-right: 2%;"> Lps.</label>
                            <nz-input-number style="margin: 0px;" formControlName="corte" [nzMin]="0" [nzStep]="1">
                            </nz-input-number>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Recargo por mora</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <div style="display: flex; justify-content: flex-start;">
                            <label style="font-size: 17px;margin-right: 2%;"> Lps.</label>
                            <nz-input-number style="margin: 0px;" formControlName="mora" [nzMin]="0" [nzStep]="1">
                            </nz-input-number>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <nz-form-item>
            <nz-form-label>Otros conceptos</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <div style="display: flex; justify-content: flex-start;">
                    <label style="font-size: 17px;margin-right: 2%;"> Lps.</label>
                    <nz-input-number style="margin: 0px;" formControlName="otros" [nzMin]="0" [nzStep]="1">
                    </nz-input-number>
                </div>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <textarea nz-input formControlName="observacion" placeholder="Escribe aquí..."></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="handleOk()">Guardar</button>
    </div>
</nz-modal>