<div class="row">
    <div class="col">
        <h2> Cargos especiales </h2>
    </div>
    <div style="display: flex; justify-content: flex-end;" class="col">
        <button nz-button nzType="primary" nzSize="large" (click)="showModal()" nzShape="round"><i nz-icon nzType="plus"
              nzTheme="outline"></i>Nuevo cargo</button>
    </div>
</div>
<br>
<br>
<div class="tabla">
    <nz-table #nzTable [nzData]="listOfData" nzTableLayout="fixed">
        <thead>
            <tr>
                <th nzWidth="30px"></th>
                <th nzWidth="30px"></th>
                <th>Codigo</th>
                <th>Cargo</th>
                <th>Fecha inicio</th>
                <th>Fecha final</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of nzTable.data">
                <tr>
                    <td style="width: 30px;">
                        <button nz-button nzType="primary" nzShape="circle">
                          <i nz-icon nzType="edit" nzTheme="outline"></i>
                      </button>
                    </td>
                    <td style="width: 30px;">
                        <button nz-button nzType="primary" nzShape="circle">
                          <i nz-icon nzType="delete" nzTheme="outline"></i>
                      </button>
                    </td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.age }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.name }}</td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</div>

<!-- Modal Formulario -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Localización" (nzOnCancel)="handleCancel()">
    <form nz-form nzLayout="vertical" (ngSubmit)="submitForm()" [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-label>Código</nz-form-label>
            <nz-form-control nzErrorTip="Please input your username!">
                <input nz-input formControlName="Codigo" placeholder="input placeholder" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Descripción</nz-form-label>
            <nz-form-control nzErrorTip="Please input your Password!">
                <input nz-input formControlName="Descripcion" placeholder="input placeholder" />
            </nz-form-control>
        </nz-form-item>
        <div class="row">
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Zona</nz-form-label>
                    <nz-form-control nzErrorTip="Please input your Password!">
                        <nz-select style="width: 100%;" nzAllowClear nzPlaceHolder="Select a person" formControlName="Descripcion">
                            <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
                            <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
                            <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Tipo de cobro para servicios</nz-form-label>
                    <nz-form-control nzErrorTip="Please input your Password!">
                        <nz-radio-group ngModel="radioValue" formControlName="Descripcion">
                            <label nz-radio nzValue="A">Energía activa (kWh)</label>
                            <label nz-radio nzValue="B">Área (m²)</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <nz-form-item>
            <nz-form-label>Área</nz-form-label>
            <nz-form-control nzErrorTip="Please input your Password!">
                <nz-input-number style="width: 100%;" [nzMin]="1" [nzMax]="100" [nzStep]="1" formControlName="Descripcion" ngModel="demoValue" [nzFormatter]="formatterArea" [nzParser]="parserArea"></nz-input-number>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Please input your Password!">
                <textarea nz-input formControlName="Observacion" placeholder="textarea with clear icon"></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="handleOk()">Guardar</button>
    </div>
</nz-modal>