<div class="row">
    <div class="col">
        <h2> Tipo de tarifas </h2>
    </div>
    <div style="display: flex; justify-content: flex-end;" class="col">
        <button nz-button nzType="primary" nzSize="large" (click)="showModal()" nzShape="round"><i nz-icon nzType="plus"
                nzTheme="outline"></i>Nuevo tipo</button>
    </div>
</div>
<br>
<br>
<div class="tabla">
    <nz-table #nzTable [nzData]="listOfDataTarifa" nzTableLayout="fixed">
        <thead>
            <tr>
                <th nzWidth="60px"></th>
                <th nzWidth="30px"></th>
                <th nzWidth="30px"></th>
                <th>Codigo</th>
                <th>Matríz horaria</th>
                <th>Parámetros</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of nzTable.data">
                <tr>
                    <td [nzExpand]="expandSet.has(data.id)" nzShowExpand="true" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                    <td style="width: 30px;">
                        <button nz-button nzType="primary" (click)="editarTarifa(data)" nzShape="circle">
                            <i nz-icon nzType="edit" nzTheme="outline"></i>
                        </button>
                    </td>
                    <td style="width: 30px;">
                        <button nz-button nzType="primary" (click)="eliminarTarifa(data)" nzShape="circle">
                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                        </button>
                    </td>
                    <td>{{ data.codigo }}</td>
                    <td>{{ data.matrizHorariaId }}</td>
                    <td>
                        <button nz-button nzType="primary" nzSize="small" (click)="showModalParametro(data)" nzShape="round">Parámetros</button>

                    </td>
                </tr>
                <tr [nzExpand]="expandSet.has(data.id)">
                    <td colSpan="8">{{ data.descripcion }}</td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</div>

<!-- Modal Formulario tipo tarifa-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Configuración Tipo de tarifas" (nzOnCancel)="handleCancel()">
    <form nz-form nzLayout="vertical" (ngSubmit)="submitForm()" [formGroup]="validateFormTarifa">
        <div class="row">
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Código</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <input nz-input formControlName="codigo" placeholder="Escribe aquí..." />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Punto de medición</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="puntoMedicionId" nzShowSearch nzAllowClear>
                            <nz-option *ngFor="let punto of puntoMedicion" [nzValue]="punto.id" [nzLabel]="punto.descripcion"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <nz-form-item>
            <nz-form-label>Descripción</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input formControlName="descripcion" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <div class="row">
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Tipo de tarifa</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <nz-radio-group formControlName="tipo">
                            <label nz-radio nzValue="true">Horaria</label>
                            <label nz-radio nzValue="false">Monomica</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Matriz horaria</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="matrizHorariaId" nzShowSearch nzAllowClear>
                            <nz-option *ngFor="let matriz of matrizHoraria" [nzValue]="matriz.id" [nzLabel]="matriz.descripcion"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="guardarTarifa()">Guardar</button>
    </div>
</nz-modal>

<!-- Modal Formulario Parametro-->
<nz-modal [(nzVisible)]="isVisibleParametro" nzWidth="760" nzTitle="Configuración de parámetros" (nzOnCancel)="handleCancelParametro()">
    <form nz-form nzLayout="vertical" style="width: 620px; margin: auto;" (ngSubmit)="submitForm()" [formGroup]="validateFormParametro">
        <nz-form-item>
            <nz-form-label>Fecha inicial - Fecha final</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <nz-range-picker style="width: 100%; margin: auto;" formControlName="fechaInicio" [nzFormat]="dateFormat"></nz-range-picker>
            </nz-form-control>
        </nz-form-item>
        <div class="row">
            <div class="col-9">
                <nz-form-item>
                    <nz-form-label>Cargo</nz-form-label>
                    <nz-form-control>
                        <nz-select formControlName="tipoCargoId" nzShowSearch nzAllowClear>
                            <nz-option *ngFor="let cargo of tipoCargo" [nzValue]="cargo.id" [nzLabel]="cargo.nombre">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-3">
                <nz-form-item>
                    <nz-form-label>Valor</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <nz-input-number style="width: 100%;" formControlName="valor" [nzMin]="1" [nzMax]="100" [nzStep]="1" [nzFormatter]="formatterLectura" [nzParser]="parserLectura"></nz-input-number>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <nz-form-item>
            <nz-form-label>Bloque Horario</nz-form-label>
            <nz-form-control>
                <nz-select style="width: 50%;" formControlName="bloqueHorarioId" nzShowSearch nzAllowClear>
                    <nz-option *ngFor="let bloqueH of bloqueHorario" [nzValue]="bloqueH.id" [nzLabel]="bloqueH.descripcion"></nz-option>
                </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <textarea nz-input formControlName="observacion" placeholder="Escribe aquí..."></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <div class="row">
                    <div class="col">
                        <button nz-button style="width: 100%;" nzType="default" (click)="handleCancelParametro()">Cancelar</button>
                    </div>
                    <div class="col">
                        <button nz-button style="width: 100%;" nzType="primary" (click)="guardarParametro()">Guardar</button>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>
    </form>
    <br>
    <div style="background-color: #f3f9ff; padding: 15px;">
        <h6> Listado de parámetros </h6>
        <nz-table #nzTableParametro [nzData]="listOfDataParametrosFiltrado" nzTableLayout="fixed">
            <thead>
                <tr>
                    <th>Cargo</th>
                    <th>valor</th>
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th nzWidth="30px"></th>
                    <th nzWidth="30px"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of nzTableParametro.data">
                    <tr>
                        <td>{{ data.tipoCargoId }}</td>
                        <td>{{ data.valor }}</td>
                        <td>{{ data.fechaInicio | date:'yyyy/M/dd' }}</td>
                        <td>{{ data.fechaFinal | date:'yyyy/M/dd' }}</td>
                        <td style="width: 30px;">
                            <button nz-button nzType="primary" (click)="editarParametro(data)" nzShape="circle">
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </button>
                        </td>
                        <td style="width: 30px;">
                            <button nz-button nzType="primary" (click)="eliminarParametro(data)" nzShape="circle">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="primary" (click)="handleOkParametro()">OK</button>
    </div>
</nz-modal>