<div class="row">
    <div class="col">
        <h2> Clientes </h2>
    </div>
    <div style="display: flex; justify-content: flex-end;" class="col">
        <button nz-button nzType="primary" nzSize="large" (click)="showModal()" nzShape="round"><i nz-icon nzType="plus"
                nzTheme="outline"></i>Nuevo cliente</button>
    </div>
</div>
<br>
<div class="tabla">
    <nz-table #basicTable [nzData]="listOfDataClientes" nzPageSize="6">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="DosColumnas">
                <td *ngFor="let data of basicTable.data">
                    <div class="container">
                        <div class="row">
                            <div class="col-3 text-center div-border">
                                <img src="assets/project.png">
                            </div>
                            <div class="col-9 div-border" style="position: relative;">
                                <h6> {{ data.Nombre }} </h6>
                                <label> {{ data.Direccion }} </label>
                                <br>
                                <label>Telefono: {{ data.Telefono }} </label>
                                <div style="position: absolute; top: 0%; left: 81%;">
                                    <i nz-icon nzType="edit" (click)="showModal()" nzTheme="fill" class="icon-tabla"></i>
                                    <i nz-icon nzType="close" nzTheme="outline" class="icon-tabla"></i>
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col text-center">
                                <i nz-icon nzType="mail" nzTheme="outline" class="icon-tabla"></i>
                                <i nz-icon nzType="phone" nzTheme="fill" class="icon-tabla"></i>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<!-- Modal Formulario -->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Clientes" (nzOnCancel)="handleCancel()">
    <form nz-form nzLayout="vertical" (ngSubmit)="submitForm()" [formGroup]="validateForm">
        <nz-form-item>
            <nz-form-label>Código del cliente</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <nz-input-group formControlName="Codigo" nzSearch [nzAddOnAfter]="suffixIconButton">
                    <input class="input-busqueda" type="text" nz-Escribe aquí...="Busca por código" />
                </nz-input-group>
                <ng-template #suffixIconButton>
                    <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                </ng-template>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Nombre empresa</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input formControlName="NombreContacto" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>RTN</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input formControlName="RTN" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Representante legal</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input formControlName="RepresentanteLegal" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Nombre del contacto</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input formControlName="NombreContacto" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Teléfono</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input formControlName="NombreContacto" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Email</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input formControlName="NombreContacto" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Dirección</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input formControlName="NombreContacto" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Imagen</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input formControlName="NombreContacto" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <textarea nz-input formControlName="Observacion" placeholder="Escribe aquí..."></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="handleOk()">Guardar</button>
    </div>
</nz-modal>