<h2> Facturas canceladas </h2>
<br>
<br>
<div style="display: flex; justify-content: center;">
    <div>
        <p style="font-size: 16px; color: black; font-weight: bold;"> Fechas: </p>
        <nz-range-picker nzMode="month" [(ngModel)]="fechas"></nz-range-picker>
    </div>
    <br>
    <button nz-button nzType="primary" (click)="consultar()" style="margin: 2% 0% 0% 4%;"><i nz-icon nzType="search"></i>Consultar</button>
</div>
<div class="tabla">
    <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfDataFacturas" nzPageSize="6" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
        <thead>
            <tr>
                <th nzWidth="30px"></th>
                <th nzWidth="30px"></th>
                <th>Código</th>
                <th>Contrato</th>
                <th>Cliente</th>
                <th>Fecha generación</th>
                <th>Energia consumida</th>
                <th>Total a pagar</th>
                <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" nzShowRowSelection="true" nzShowCheckbox="true" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)">
                    Emitir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td style="width: 30px;">
                    <button nz-button nzType="primary" (click)="verFactura(data)" nzShape="circle" nzTooltipTitle="Ver factura" nzTooltipPlacement="top" nz-tooltip>
                        <i nz-icon nzType="search" nzTheme="outline"></i>
                    </button>
                </td>
                <td style="width: 30px;">
                    <button nz-button nzType="primary" (click)="generarFactura(data)" nzShape="circle" nzTooltipTitle="Volver a generar" nzTooltipPlacement="top" nz-tooltip>
                        <i nz-icon nzType="redo" nzTheme="outline"></i>
                    </button>
                </td>
                <td>{{ data.codigo }}</td>
                <td>{{ data.contrato }}</td>
                <td>{{ data.cliente }}</td>
                <td>{{ data.fechaLectura | date:'yyyy/M/dd' }}</td>
                <td>{{ data.consumo | number:'':'en_US' }}</td>
                <td>{{ data.total | number:'':'en_US' }}</td>
                <td [nzChecked]="setOfCheckedId.has(data.id)" nzShowCheckbox="true" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            </tr>
        </tbody>
    </nz-table>
</div>

<div>
    <ngx-spinner bdColor="#a4b4d2" size="medium" color="#fff"></ngx-spinner>
</div>