<div style="display: flex;">
    <div class="imagen-registro">
        <img src="assets/Logo-INHDELVA.svg" class="imagen-start">
    </div>
    <div class="login-form-container">
        <button nz-button nzType="primary" class="imagen-logo" routerLink="/login"><i nz-icon nzType="rollback"></i>Iniciar sesión</button>
        <form nz-form [nzLayout]="'vertical'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <h4 style="color: rgb(102, 102, 102);">Registrate con tus datos y crea tu cuenta</h4>
            <br>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="nombre">Nombre</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El dato es incorrecto!">
                    <input nz-input formControlName="nombre" id="nombre" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="apellido">Apellido</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El dato es incorrecto!">
                    <input nz-input formControlName="apellido" id="apellido" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="username">Usuario</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El dato es incorrecto!">
                    <input nz-input formControlName="username" id="username" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="email">Correo</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El dato es incorrecto!">
                    <input nz-input formControlName="email" id="email" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" nzHasFeedback [nzXs]="24" nzFor="password" nzRequired>Contraseña
                </nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El dato es incorrecto!">
                    <nz-input-group [nzSuffix]="suffixTemplate">
                        <input [type]="passwordVisible ? 'text' : 'password'" nz-input id="password" formControlName="password" />
                    </nz-input-group>
                    <ng-template #suffixTemplate>
                        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>
                </nz-form-control>
                <ng-template #suffixTemplate>
                    <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                </ng-template>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="telefono" nzRequired>Telefono</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El dato es incorrecto!">
                    <input nz-input id="telefono" formControlName="telefono" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="observacion">Observación</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="El dato es incorrecto!">
                    <textarea nz-input formControlName="observacion" placeholder="Escribe aquí..."></textarea>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item nz-row class="register-area">
                <nz-form-control>
                    <button nz-button nzBlock [disabled]="!validateForm.valid" nzType="primary">Crear cuenta</button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </div>
</div>