<div class="row">
    <div class="col">
        <h2> Bloques Horarios </h2>
    </div>
    <!-- <div style="display: flex; justify-content: center;" class="col">
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
            <input type="text" nz-input placeholder="Busca..." />
        </nz-input-group>
        <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
        </ng-template>
    </div> -->
    <div style="display: flex; justify-content: flex-end;" class="col">
        <button nz-button nzType="primary" nzShape="round" (click)="showModal()"><i nz-icon nzType="plus" nzTheme="outline"></i>Nuevo Registro</button>
    </div>
</div>
<br>
<br>
<div class="grid-container">
    <div style="width: 65%; margin: auto;">
        <label>Codigo</label>
        <input nz-input type="text" style="width: 100%;" />
    </div>
    <div style="width: 60%; margin: auto;">
        <label>Fecha Creacion</label>
        <nz-date-picker [(ngModel)]="date" style="width: 100%;" (ngModelChange)="onChange($event)" nzPlaceHolder="Seleccione una Fecha"></nz-date-picker>
    </div>
    <div style="width: 100%; margin: auto;">
        <label>Descripcion</label>
        <input nz-input type="text" style="width: 100%;" />
    </div>
</div>
<div class="tabla">
    <nz-table #nzTable [nzData]="listOfData" nzTableLayout="fixed" nzBordered nzShowSizeChanger nzPageSize="5">
        <thead>
            <tr>
                <!--<th nzWidth="60px"></th>-->
                <th rowspan="4"></th>
                <th rowspan="4">Clase de Dia</th>
                <th colspan="2">Periodo de Punta</th>
                <th colspan="2 ">Periodo Intermedio</th>
                <th colspan="2 ">Periodo Valle</th>
            </tr>
            <tr>
                <th rowspan="3 ">Total Horas</th>
                <th rowspan="3 ">Horario</th>
                <th rowspan="3 ">Total Horas</th>
                <th rowspan="3 ">Horario</th>
                <th rowspan="3 ">Total Horas</th>
                <th rowspan="3 ">Horario</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of nzTable.data ">
                <tr>
                    <td>##</td>
                    <td>{{ data.clase_dia }}</td>
                    <td>
                        <div class="row">
                            <div class="col-2">
                                <a (click)="showModal()"><i nz-icon nzType="edit"></i></a>
                            </div>
                            <div class="col-2">
                                <a (click)="showModal()"><i nz-icon nzType="close"></i></a>
                            </div>
                            <div style="line-height: 2.0;" class="col-2">
                                {{ data.pp_totalhoras }}
                            </div>
                        </div>
                    </td>
                    <td>{{ data.pp_horario }} </td>
                    <td>
                        <div class="row">
                            <div class="col-2">
                                <a (click)="showModal()"><i nz-icon nzType="edit"></i></a>
                            </div>
                            <div class="col-2">
                                <a (click)="showModal()"><i nz-icon nzType="close"></i></a>
                            </div>
                            <div style="line-height: 2.0;" class="col-2">
                                {{ data.pi_totalhoras }}
                            </div>
                        </div>
                    </td>
                    <td>{{ data.pi_horario }}</td>
                    <td>
                        <div class="row">
                            <div class="col-2">
                                <a (click)="showModal()"><i nz-icon nzType="edit"></i></a>
                            </div>
                            <div class="col-2">
                                <a (click)="showModal()"><i nz-icon nzType="close"></i></a>
                            </div>
                            <div style="line-height: 2.0;" class="col-2">
                                {{ data.pv_totalhoras }}
                            </div>
                        </div>
                    </td>
                    <td>{{ data.pv_horario }}</td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>

    <div class="row">
        <div class="col-sm-12 form-group">
            <label for="Observacion">Observacion</label>
            <textarea rows="5" nz-input [(ngModel)]="inputValue" placeholder="Ingrese su observacion" name="Observacion"></textarea>
        </div>
    </div>
    <div class="row">
        <div style="display: flex; justify-content: flex-end;" class="col">
            <button nz-button nzType="primary"><i nz-icon nzType="save" nzTheme="outline"></i>Guardar Cambios</button>
        </div>
    </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Configuración bloque horario" nzWidth="900" (nzOnCancel)="handleCancel()">
    <form nz-form nzLayout="vertical" style="width: 870px; margin: auto;">
        <nz-form-item>
            <nz-form-label>Descripcion</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input type="text" placeholder="Escribe aquí..." name="Descripcion" />
            </nz-form-control>
        </nz-form-item>
        <div class="row">
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Periodo</nz-form-label>
                    <div style="display: flex; flex-direction: row;">
                        <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                            <nz-select class="lista" nzShowSearch nzAllowClear nzPlaceHolder="Seleccione una opcion">
                                <nz-option nzLabel="Activo" nzValue="true"></nz-option>
                                <nz-option nzLabel="Inactivo" nzValue="false"></nz-option>
                            </nz-select>
                        </nz-form-control>
                        <button nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="edit"></i></button>
                        <!-- <i nz-icon nzType="edit" style="margin: 2%;" nzTheme="fill"></i> -->
                    </div>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Clase Dias</nz-form-label>
                    <div style="display: flex; flex-direction: row;">
                        <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                            <nz-select nzShowSearch class="lista" nzAllowClear nzPlaceHolder="Seleccione una opcion">
                                <nz-option nzLabel="Activo" nzValue="true"></nz-option>
                                <nz-option nzLabel="Inactivo" nzValue="false"></nz-option>
                            </nz-select>
                        </nz-form-control>
                        <button nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="edit"></i></button>
                    </div>
                </nz-form-item>
            </div>
        </div>
        <nz-tabset>
            <nz-tab nzTitle="Horarios">
                <h6>Seleccione el rango de horarios a utilizar</h6>
                <br/>
                <div nz-row>
                    <a (click)="handleCancel()">
                        <div nz-col nzSpan="5" style="background-color: #eceeef; text-align: center;">
                            00:00<br/>a<br>08:00
                        </div>
                    </a>
                    <a (click)="handleCancel()">
                        <div nz-col nzSpan="5" style="background-color: #5cb85c; text-align: center;">
                            08:00<br/>a<br>10:00
                        </div>
                    </a>
                    <a (click)="handleCancel()">
                        <div nz-col nzSpan="4" style="background-color: #e64040; text-align: center;">
                            10:00<br/>a<br>15:00
                        </div>
                    </a>
                    <a (click)="handleCancel()">
                        <div nz-col nzSpan="5" style="background-color: #5cb85c; text-align: center;">
                            15:00<br/>a<br>17:00
                        </div>
                    </a>
                    <a (click)="handleCancel()">
                        <div nz-col nzSpan="5" style="background-color: #eceeef; text-align: center;">
                            17:00<br/>a<br>24:00
                        </div>
                    </a>
                </div>
                <br/>
                <div nz-row>
                    <nz-badge nzStatus="success" nzText="Nuevo"></nz-badge>
                    <br />
                    <nz-badge nzStatus="error" nzText="Otro Bloque Horario"></nz-badge>
                    <br />
                    <nz-badge nzStatus="default" nzText="Disponible"></nz-badge>
                    <br />

                </div>
            </nz-tab>
            <nz-tab nzTitle="Periodo">
                <br/>
                <div style="width: 80%; margin: auto;">
                    <label for="Descripcion">Nombre Periodo:</label>
                    <input nz-input type="text" placeholder="Escriba aquí" name="Descripcion" />
                </div>
            </nz-tab>
            <nz-tab nzTitle="Clase de Dia">
                <div class="row">
                    <div class="col">
                        <p style="color: black; font-size: 18px; text-align: center;">Nombre de la Clase</p>
                        <hr>
                        <input nz-input placeholder="Escriba aquí" type="text" />
                        <div>
                            <label>Dias de la Semana</label>
                            <nz-input-group>
                                <label nz-checkbox>Lunes</label>
                            </nz-input-group>
                            <nz-input-group>
                                <label nz-checkbox>Martes</label>
                            </nz-input-group>
                            <nz-input-group>
                                <label nz-checkbox>Miercoles</label>
                            </nz-input-group>
                            <nz-input-group>
                                <label nz-checkbox>Jueves</label>
                            </nz-input-group>
                            <nz-input-group>
                                <label nz-checkbox>Viernes</label>
                            </nz-input-group>
                            <nz-input-group>
                                <label nz-checkbox>Sabado</label>
                            </nz-input-group>
                            <nz-input-group>
                                <label nz-checkbox>Domingo</label>
                            </nz-input-group>
                        </div>
                    </div>
                    <div class="col">
                        <p style="color: black; font-size: 18px; text-align: center;">Dias especificos</p>
                        <hr>
                        <div class="dias">
                            <div>
                                <nz-date-picker (ngModelChange)="onChange($event)"></nz-date-picker>
                            </div>
                            <div style="display: flex; justify-content: flex-end;">
                                <button nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="plus"></i></button>
                            </div>
                            <div style="display: flex; justify-content: flex-end;">
                                <button nz-button nzType="primary" nzShape="circle"><i nz-icon nzType="save"></i></button>
                            </div>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <label> Descripcion</label>
                            <input nz-input placeholder="Escriba aquí" nzSize="small" />
                        </div>
                        <hr>
                        <div>
                            <cdk-virtual-scroll-viewport itemSize="73" class="demo-infinite-container">
                                <nz-list>
                                    <nz-list-item *cdkVirtualFor="let item of ds">
                                        <!-- <nz-list-item-meta *ngIf="item" nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" [nzDescription]="item.email">
                                            <nz-list-item-meta-title> -->
                                        <a href="https://ng.ant.design">{{ item.name.last }}</a>
                                        <!-- </nz-list-item-meta-title>
                                        </nz-list-item-meta> -->
                                    </nz-list-item>
                                </nz-list>
                            </cdk-virtual-scroll-viewport>
                        </div>
                    </div>
                </div>
            </nz-tab>
        </nz-tabset>
        <br/>
        <br/>
        <div style="display: flex; justify-content: flex-end;">
            <button nz-button nzType="default" style="margin-right: 1%;">Registrar uno Nuevo</button>
            <button nz-button nzType="primary" style="margin-right: 1%;">Guardar Cambios</button>
        </div>
        <br/>
        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <textarea nz-input formControlName="observacion" placeholder="Escribe aquí..."></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary">Guardar</button>
    </div>
</nz-modal>