<!-- <nz-table #basicTable [nzData]="listOfData">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a>Action 一 </a>
                <nz-divider nzType="vertical"></nz-divider>
                <a>Delete</a>
            </td>
        </tr>
    </tbody>
</nz-table>
<br>
<button nz-button (click)="exportPdf()" nzType="primary">PDF</button>
<button nz-button (click)="exportExcel()" nzType="primary">Excel</button> -->
<!-- <br> -->
<h4>PROVEEDORES DE ENERGIA </h4>
<h5>INHDELVA, CHOLOMA, HONDURAS.</h5>
<br>
<div class="opciones">
    <div style="margin: 2%;">
        <p style="font-size: 16px; color: black; font-weight: bold;"> Proveedor: </p>
        <nz-select [(ngModel)]="proveedores" [nzOpen]="abrir" (ngModelChange)="proveedoresChange($event)" nzPlaceHolder="Seccione uno o varios" nzSize="default" nzMode="multiple" nzPlaceHolder="Please select">
            <nz-option nzLabel="Todos" nzValue="0">
            </nz-option>
            <nz-option *ngFor="let option of listOfProveedores" [nzLabel]="option.Nombre" [nzValue]="option.Id">
            </nz-option>
        </nz-select>
    </div>
    <div style="margin: 2%;">
        <p style="font-size: 16px; color: black; font-weight: bold;"> Fechas: </p>
        <nz-range-picker [(ngModel)]="fechas"></nz-range-picker>
    </div>
    <div style="width: 100%; margin: auto;">
        <button nz-button nzType="primary" (click)="consultar()"><i nz-icon nzType="search"></i>Consultar</button>
    </div>

</div>
<hr>
<div>
    <button *ngIf="isVisible" nzTooltipTitle="Exportar a Excel" nz-button nzType="primary" style="margin: 2%;" (click)="exportExcel()" nzSize="large" nzTooltipPlacement="topRight" nz-tooltip><i nz-icon nzType="file-excel"></i></button>
</div>
<nz-table *ngIf="isVisible" #nzTable [nzPageSize]="25" [nzData]="listOfData" nzSize="small" [nzScroll]="{y: '350px', x: '4400px' }">
    <thead>
        <tr>
            <th nzWidth="200px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> PROVEEDOR</th>
            <th nzWidth="200px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Año</th>
            <th nzWidth="200px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Mes</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Consumo Energia activa (kWh/mes)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Energia activa exportada (kWh/mes)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Demanda potencia maxima (kW)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Consumo Energia reactiva (kVArh/mes)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Factor de Potencia</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Costo de la Energia (L/kWh)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Costo de la Demanda (L/kW-mes)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Costo de la Energia (L)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Alumbrado Público (L)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Cargo de Comercialización (L)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Cargo de Regulación (L)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> Demanda (L)</th>
            <th nzWidth="300px" style="background-color: #c0c0c0; border: rgb(121, 121, 121); border-style: solid;  border-width: 1px;  color: black;"> TOTAL (L)</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let data of nzTable.data">
            <tr>
                <td class="tdAzul" nzAlign="center"> {{ data.proveedor }} </td>
                <td class="tdAzul" nzAlign="center">{{ data.fecha | date:'yyyy'}}</td>
                <td class="tdAzul" nzAlign="center">{{ data.fecha | date:'MMMM'}}</td>
                <td class="tdBlanco" nzAlign="center"> {{ data.consumoEnergiaActiva | number:'':'en_US' }} kWh/mes</td>
                <td class="tdBlanco" nzAlign="center"> {{ data.energiaActivaExportada | number:'':'en_US' }} kWh/mes</td>
                <td class="tdBlanco" nzAlign="center">{{ data.demandaPotenciaMaxima | number:'':'en_US' }} kW</td>
                <td class="tdBlanco" nzAlign="center"> {{ data.consumoEnergiaReactiva | number:'':'en_US' }} kVArh/mes</td>
                <td class="tdGrisClaro" nzAlign="center">{{ data.factorPotencia | number:'':'en_US' }}</td>
                <td class="tdBlanco" nzAlign="center">{{ data.precioEnergia | number:'':'en_US' }} Lps/kWh</td>
                <td class="tdBlanco" nzAlign="center">{{ data.costoDemanda | number:'':'en_US' }} Lps/kW-mes</td>
                <td class="tdGrisClaro" nzAlign="center">L {{ data.costoEnergia| number:'':'en_US' }}</td>
                <td class="tdBlanco" nzAlign="center">L {{ data.alumbradoPublico | number:'':'en_US' }}</td>
                <td class="tdBlanco" nzAlign="center">L {{ data.cargoComercializacion | number:'':'en_US' }}</td>
                <td class="tdGrisClaro" nzAlign="center">L {{ data.cargoRegulacion | number:'':'en_US' }}</td>
                <td class="tdGrisClaro" nzAlign="center">L {{ data.precioDemanda | number:'':'en_US' }}</td>
                <td class="tdGrisClaro" nzAlign="center">L {{ data.total | number:'':'en_US' }}</td>
            </tr>
        </ng-container>
        <tr *ngFor="let total of listaTotales">
            <td class="totales" nzAlign="center"> {{ total.proveedor }} </td>
            <td colSpan="2" class="totales" nzAlign="center"> TOTAL </td>
            <td class="totales" nzAlign="center"> {{ total.consumoEnergiaActiva | number:'':'en_US' }} kWh/mes</td>
            <td class="totales" nzAlign="center"> {{ total.energiaActivaExportada | number:'':'en_US' }} kWh/mes</td>
            <td class="totales" nzAlign="center"> {{ total.demandaPotenciaMaxima | number:'':'en_US' }} kW</td>
            <td class="totales" nzAlign="center"> {{ total.consumoEnergiaReactiva | number:'':'en_US' }} kVArh/mes</td>
            <td class="totales" nzAlign="center"> {{ total.factorPotencia | number:'':'en_US'}} </td>
            <td class="totales" nzAlign="center"> {{ total.precioEnergia | number:'':'en_US' }} Lps/kWh</td>
            <td class="totales" nzAlign="center"> {{ total.costoDemanda | number:'':'en_US' }} Lps/kW-mes</td>
            <td class="totales" nzAlign="center">L {{ total.costoEnergia | number:'':'en_US' }} </td>
            <td class="totales" nzAlign="center">L {{ total.alumbradoPublico | number:'':'en_US' }} </td>
            <td class="totales" nzAlign="center">L {{ total.cargoComercializacion | number:'':'en_US' }} </td>
            <td class="totales" nzAlign="center">L {{ total.cargoRegulacion | number:'':'en_US' }} </td>
            <td class="totales" nzAlign="center">L {{ total.precioDemanda | number:'':'en_US' }} </td>
            <td class="totales" nzAlign="center">L {{ total.total | number:'':'en_US' }} </td>
        </tr>
    </tbody>
</nz-table>
<div *ngIf="!isVisible" style="display: flex; justify-content: center;">
    <img style="width: 50%;" src="assets/Logo-INHDELVA.svg" alt="" srcset="">
</div>
<div>
    <ngx-spinner bdColor="#a4b4d2" size="medium" color="#fff"></ngx-spinner>
</div>