<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://www.inhdelva.com/about-us.php?lang=es" target="_blank">
                <img src="assets/img-menu.svg">
                <h1>INHDELVA</h1>
            </a>
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="/inicio" [nzTitle]="isCollapsed ? 'Inicio' : ''">
                <i nz-icon nzType="home"></i>
                <span>Inicio</span>
            </li>
        </ul>
        <ul nz-menu nzTheme="dark" nzMode="vertical">
            <li nz-submenu [nzTitle]="isCollapsed ? '' : 'Mantenimiento'" nzIcon="tool">
                <ul>
                    <li nz-menu-item>
                        <a routerLink="/clientes">Clientes</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/proveedores">Proveedores</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/localizacion">Zonas</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/medidores">Medidores</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/bloquesHorarios">Bloques Horarios</a>
                    </li>
                    <!-- <li nz-menu-item>
                        <a>Tipos de contrato</a>
                    </li> -->
                </ul>
            </li>
        </ul>
        <ul nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
            <!-- <li nz-submenu nzTitle="Tarifas" nzIcon="calculator">
                <ul>
                    <li nz-menu-item>
                        <a routerLink="/tipoTarifa">Tipo tarifa</a>
                    </li>
                    <li nz-menu-item>
                        <a routerLink="/tarifaHoraria">Horaria</a>
                    </li>
                </ul>
            </li> -->
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="/tipoTarifa" [nzTitle]="isCollapsed ? 'Tarifa' : ''">
                <i nz-icon nzType="calculator"></i>
                <span>Tarifa</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="/parametrosEntrada" [nzTitle]="isCollapsed ? 'Parámetros de entrada' : ''">
                <i nz-icon nzType="control"></i>
                <span>Parámetros de entrada</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="/contratos" [nzTitle]="isCollapsed ? 'Contratos' : ''">
                <i nz-icon nzType="book"></i>
                <span>Contratos</span>
            </li>
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="/matrizEnergetica" [nzTitle]="isCollapsed ? 'Matriz Energética' : ''">
                <i nz-icon nzType="pie-chart"></i>
                <span>Matriz Energética</span>
            </li>
            <li nz-submenu nzTitle="Facturación" nzIcon="profile">
                <ul>
                    <li nz-menu-item>
                        <a routerLink="/cargosEspeciales">Cargos especiales</a>
                    </li>
                    <li nz-submenu nzTitle="Facturas" nzIcon="file-text">
                        <ul>
                            <li nz-menu-item>
                                <a routerLink="/facturasGeneradas">Facturas generadas</a>
                            </li>
                            <li nz-menu-item>
                                <a routerLink="/facturasEmitidas">Facturas emitidas</a>
                            </li>
                            <li nz-menu-item>
                                <a routerLink="/facturasCanceladas">Facturas canceladas</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul nz-menu nzTheme="dark" nzMode="vertical">
            <li nz-submenu [nzTitle]="isCollapsed ? '' : 'Reportes'" nzIcon="bar-chart">
                <ul>
                    <li nz-menu-item>
                        <a routerLink="/reporteProduccion">Reporte producción</a>
                    </li>
                    <li nz-menu-item>
                        <a>Reporte 2</a>
                    </li>
                    <li nz-menu-item>
                        <a>Reporte 3</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul nz-menu nzTheme="dark" nzMode="vertical">
            <li nz-submenu [nzTitle]="isCollapsed ? '' : 'Configuración'" nzIcon="setting">
                <ul>
                    <li nz-menu-item>
                        <a routerLink="/rangoFactura">Rango factura</a>
                    </li>
                    <li nz-menu-item>
                        <a>Opcion 2</a>
                    </li>
                    <li (click)="salir()" nz-menu-item>
                        <a>Cerrar sesión</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" routerLink="/ayuda" [nzTitle]="isCollapsed ? 'Ayuda' : ''">
                <i nz-icon nzType="question-circle"></i>
                <span>Ayuda</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                    <span>
                        <label style="margin-left: 26%;">SISTEMA DE FACTURACIÓN ENÉRGETICA</label>
                    </span>
                </span>

            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
<div class="footer">
    <label style="color: white;">© INHDELVA, TODOS LOS DERECHOS RESERVADOS</label>
</div>