<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="sidebar-logo">
            <a href="https://www.inhdelva.com/about-us.php?lang=es" target="_blank">
                <img src="assets/img-menu.svg">
                <h1>NHDELVA</h1>
            </a>
        </div>
        <ul *ngIf="menu[0]?.acceso" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="menu[0]?.url" [nzTitle]="isCollapsed ? menu[0]?.titulo : ''">
                <i nz-icon [nzType]="menu[0]?.icon"></i>
                <span> {{ menu[0]?.titulo }} </span>
            </li>
        </ul>
        <ul *ngIf="menu[1]?.acceso" nz-menu nzTheme="dark" nzMode="vertical">
            <li nz-submenu [nzTitle]="isCollapsed ? '' : menu[1]?.titulo" [nzIcon]="menu[1]?.icon">
                <ul>
                    <li nz-menu-item *ngFor="let opcion of menu[1]?.submenu">
                        <a [routerLink]="opcion.url">{{ opcion.titulo }}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul *ngIf="menu[2]?.acceso" nz-menu nzMode="inline" nzTheme="dark" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="menu[2]?.url" [nzTitle]="isCollapsed ? menu[2]?.titulo : ''">
                <i nz-icon [nzType]="menu[2]?.icon"></i>
                <span>{{ menu[2]?.titulo }}</span>
            </li>
            <li *ngIf="menu[3]?.acceso" nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="menu[3]?.url" [nzTitle]="isCollapsed ? menu[3]?.titulo : ''">
                <i nz-icon [nzType]="menu[3]?.icon"></i>
                <span>{{ menu[3]?.titulo }}</span>
            </li>
            <li *ngIf="menu[4]?.acceso" nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="menu[4]?.url" [nzTitle]="isCollapsed ? menu[4]?.titulo : ''">
                <i nz-icon [nzType]="menu[4]?.icon"></i>
                <span>{{ menu[4]?.titulo }}</span>
            </li>
            <li *ngIf="menu[5]?.acceso" nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="menu[5]?.url" [nzTitle]="isCollapsed ? menu[5]?.titulo : ''">
                <i nz-icon [nzType]="menu[5]?.icon"></i>
                <span>{{ menu[5]?.titulo }}</span>
            </li>
            <li *ngIf="menu[6]?.acceso" nz-submenu [nzTitle]="menu[6]?.titulo" [nzIcon]="menu[6]?.icon">
                <ul>
                    <li nz-menu-item *ngFor="let opcion of menu[6]?.submenu">
                        <a [routerLink]="opcion.url">{{ opcion.titulo }}</a>
                    </li>
                    <li *ngIf="menu[7]?.acceso" nz-submenu [nzTitle]="menu[7]?.titulo" [nzIcon]="menu[7]?.icon">
                        <ul>
                            <li nz-menu-item *ngFor="let opcion of menu[7]?.submenu">
                                <a [routerLink]="opcion.url">{{ opcion.titulo }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <ul *ngIf="menu[8]?.acceso" nz-menu nzTheme="dark" nzMode="vertical">
            <li nz-submenu [nzTitle]="isCollapsed ? '' : menu[8]?.titulo" [nzIcon]="menu[8]?.icon">
                <ul>
                    <li nz-menu-item *ngFor="let opcion of menu[8]?.submenu">
                        <a [routerLink]="opcion.url">{{ opcion.titulo }}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul *ngIf="menu[9]?.acceso" nz-menu nzTheme="dark" nzMode="vertical">
            <li nz-submenu [nzTitle]="isCollapsed ? '' : menu[9]?.titulo" [nzIcon]="menu[9]?.icon">
                <ul>
                    <li nz-menu-item *ngFor="let opcion of menu[9]?.submenu">
                        <a [routerLink]="opcion.url">{{ opcion.titulo }}</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul nz-menu *ngIf="menu[10]?.acceso" nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" (click)="salir()" [nzTitle]="isCollapsed ? menu[10]?.titulo : ''">
                <i nz-icon [nzType]="menu[10]?.icon"></i>
                <span>{{ menu[10]?.titulo }}</span>
            </li>
        </ul>
        <ul nz-menu *ngIf="menu[11]?.acceso" nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
            <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [routerLink]="menu[11]?.url" [nzTitle]="isCollapsed ? menu[11]?.titulo : ''">
                <i nz-icon [nzType]="menu[11]?.icon"></i>
                <span>{{ menu[11]?.titulo }}</span>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header>
            <div class="app-header">
                <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
                    <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
                    <span>
                        <label style="margin-left: 26%;">SISTEMA DE FACTURACIÓN ENÉRGETICA</label>
                    </span>
                </span>

            </div>
        </nz-header>
        <nz-content>
            <div class="inner-content">
                <router-outlet></router-outlet>
            </div>
        </nz-content>
    </nz-layout>
</nz-layout>
<div class="footer">
    <label style="color: white;">© INHDELVA, TODOS LOS DERECHOS RESERVADOS</label>
</div>