<h2> Facturas generadas </h2>
<br>
<br>
<div style="display: flex; justify-content: center;">
    <div>
        <p style="font-size: 16px; color: black; font-weight: bold;"> Fechas: </p>
        <nz-range-picker nzMode="month" [(ngModel)]="fechas"></nz-range-picker>
    </div>
    <br>
    <button nz-button nzType="primary" (click)="consultar()" style="margin: 2% 0% 0% 4%;"><i nz-icon nzType="search"></i>Consultar</button>
</div>
<div class="tabla">
    <button nz-button nzSize="small" style="width: 9%; margin-left: 90%;" (click)="emitirFactura()" nzType="primary">Emitir</button>
    <nz-table #rowSelectionTable nzShowSizeChanger nzPageSize="10" [nzData]="listOfDataFacturas" (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
        <thead>
            <tr>
                <th nzWidth="30px"></th>
                <th nzWidth="30px"></th>
                <th nzWidth="30px"></th>
                <th>Código</th>
                <th>Contrato</th>
                <th>Cliente</th>
                <th>Fecha generación</th>
                <th>Energia consumida</th>
                <th>Total a pagar</th>
                <th [nzSelections]="listOfSelection" [(nzChecked)]="checked" nzShowRowSelection="true" nzShowCheckbox="true" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)">
                    Emitir</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of rowSelectionTable.data">
                <td style="width: 30px;">
                    <button nz-button nzType="primary" (click)="editarFactura(data)" nzShape="circle" nzTooltipTitle="Editar factura" nzTooltipPlacement="top" nz-tooltip>
                        <i nz-icon nzType="edit" nzTheme="outline"></i>
                    </button>
                </td>
                <td style="width: 30px;">
                    <button nz-button nzType="primary" (click)="verFactura(data)" nzShape="circle" nzTooltipTitle="Ver factura" nzTooltipPlacement="top" nz-tooltip>
                        <i nz-icon nzType="search" nzTheme="outline"></i>
                    </button>
                </td>
                <td style="width: 30px;">
                    <button nz-button nzType="primary" (click)="cancelarFactura(data)" nzShape="circle" nzTooltipTitle="Cancelar factura" nzTooltipPlacement="top" nz-tooltip>
                        <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                    </button>
                </td>
                <td>{{ data.codigo }}</td>
                <td>{{ data.contrato }}</td>
                <td>{{ data.cliente }}</td>
                <td>{{ data.fechaLectura | date:'dd/M/yyyy' }}</td>
                <td>{{ data.consumo | number:'':'en_US' }}</td>
                <td>{{ data.total | number:'':'en_US'}}</td>
                <td [nzChecked]="setOfCheckedId.has(data.id)" nzShowCheckbox="true" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
            </tr>
        </tbody>
    </nz-table>
</div>

<!-- Modal Formulario editar Factura-->
<nz-modal [(nzVisible)]="isVisible" nzWidth="750" nzTitle="Editar factura" (nzOnCancel)="handleCancel()">
    <div class="row">
        <div class="col">
            <p><span> {{ dataEditar[12]?.descripcion }} (L.) </span> : <span class="valores">{{ dataEditar[12]?.valor | number:'':'en_US'}}</span></p>
            <p><span> {{ dataEditar[13]?.descripcion }} (L.) </span> : <span class="valores">{{ dataEditar[13]?.valor | number:'':'en_US'}}</span></p>
            <p><span> {{ dataEditar[14]?.descripcion }} (L.) </span> : <span class="valores">{{ dataEditar[14]?.valor | number:'':'en_US'}}</span></p>
            <p><span> {{ dataEditar[15]?.descripcion }} (L.) </span> : <span class="valores">{{ dataEditar[15]?.valor | number:'':'en_US'}}</span></p>
            <p><span> {{ dataEditar[16]?.descripcion }} (L.) </span> : <span class="valores">{{ dataEditar[16]?.valor | number:'':'en_US'}}</span></p>
        </div>
        <div class="col">
            <p><span> {{ dataEditar[17]?.descripcion }} (L.) </span> : <span class="valores">{{ dataEditar[17]?.valor | number:'':'en_US'}}</span></p>
            <p><span> {{ dataEditar[18]?.descripcion }} (L.) </span> : <span class="valores">{{ dataEditar[18]?.valor | number:'':'en_US'}}</span></p>
            <p><span> {{ dataEditar[19]?.descripcion }} (L.) </span> : <span class="valores">{{ dataEditar[19]?.valor | number:'':'en_US'}}</span></p>
            <p><span> {{ dataEditar[20]?.descripcion }} (L.) </span> : <span class="valores">{{ dataEditar[20]?.valor | number:'':'en_US'}}</span></p>
            <p><span> {{ dataEditar[21]?.descripcion }} (L.) </span> : <span class="valores">{{ dataEditar[21]?.valor | number:'':'en_US'}}</span></p>
        </div>

    </div>
    <hr>
    <form nz-form nzLayout="vertical" (ngSubmit)="submitForm()" [formGroup]="validateForm">
        <div class="row">
            <div class="col">
                <nz-form-item>
                    <nz-form-label>{{ dataEditar[22]?.descripcion }}</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <div style="display: flex; justify-content: space-between;">
                            <nz-input-number style="width: 100%; margin: 0px;" formControlName="cargoFinancionamiento" [nzStep]="1">
                            </nz-input-number>
                            <label style="color: black; font-size: 17px; margin-left: 2%;"> Lps</label>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>{{ dataEditar[23]?.descripcion }}</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <div style="display: flex; justify-content: space-between;">
                            <nz-input-number style="width: 100%; margin: 0px;" formControlName="ajuste" [nzStep]="1">
                            </nz-input-number>
                            <label style="color: black; font-size: 17px; margin-left: 2%;"> Lps</label>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>{{ dataEditar[24]?.descripcion }}</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <div style="display: flex; justify-content: space-between;">
                            <nz-input-number style="width: 100%; margin: 0px;" formControlName="cargoCorte" [nzStep]="1">
                            </nz-input-number>
                            <label style="color: black; font-size: 17px; margin-left: 2%;"> Lps</label>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>{{ dataEditar[25]?.descripcion }}</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <div style="display: flex; justify-content: space-between;">
                            <nz-input-number style="width: 100%; margin: 0px;" formControlName="recargo" [nzStep]="1">
                            </nz-input-number>
                            <label style="color: black; font-size: 17px; margin-left: 2%;"> Lps</label>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>{{ dataEditar[26]?.descripcion }}</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <div style="display: flex; justify-content: space-between;">
                            <nz-input-number style="width: 100%; margin: 0px;" formControlName="otros" [nzStep]="1">
                            </nz-input-number>
                            <label style="color: black; font-size: 17px; margin-left: 2%;"> Lps</label>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="w-100"></div>
            <div class="col">
                <p style="color: black; font-size: 17px;"> <span> {{ dataEditar[27]?.descripcion }} :</span> <span class="total"> {{ total | number:'':'en_US'}} </span></p>
            </div>
        </div>

    </form>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="guardar()">Guardar</button>
    </div>
</nz-modal>

<div>
    <ngx-spinner bdColor="#a4b4d2" size="medium" color="#fff"></ngx-spinner>
</div>