<div class="row">
    <div class="col">
        <h2> Medidores </h2>
    </div>
    <div style="display: flex; justify-content: flex-end;" class="col">
        <button nz-button nzType="primary" (click)="showModal()" nzShape="round"><i nz-icon nzType="plus"
                nzTheme="outline"></i>Nuevo medidor</button>
    </div>
</div>
<br>
<br>
<div class="tabla">
    <h4> Medidores físicos </h4>
    <p> <span style="color: black; font-size: 20px; font-weight: bold;">Existencia: </span> <span style="font-size: 25px; font-weight: bold;"> {{ cantidad }} </span> </p>
    <hr>
    <nz-table #nzTableMedidor [nzData]="listOfDataMedidores" nzTableLayout="fixed" nzPageSize="4">
        <thead>
            <tr>
                <th nzWidth="60px"></th>
                <th nzWidth="30px"></th>
                <th nzWidth="30px"></th>
                <th>Codigo</th>
                <th>Modelo</th>
                <th>Serie</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of nzTableMedidor.data">
                <tr>
                    <td [nzExpand]="expandSet.has(data.id)" nzShowExpand="true" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                    <td style="width: 30px;">
                        <button nz-button nzType="primary" (click)="editarMedidor(data,'f')" nzShape="circle">
                            <i nz-icon nzType="edit" nzTheme="outline"></i>
                        </button>
                    </td>
                    <td style="width: 30px;">
                        <button nz-button nzType="primary" (click)="eliminarMedidor(data,'f')" nzShape="circle">
                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                        </button>
                    </td>
                    <td>{{ data.codigo }}</td>
                    <td>{{ data.modelo }}</td>
                    <td>{{ data.serie }}</td>
                    <td>
                        <span *ngIf="data.contrato" class="badge badge-pill badge-danger">En contrato</span>
                        <span *ngIf="!data.contrato" class="badge badge-pill badge-success">Sin contrato</span>
                    </td>
                    <td>
                        <button nz-button nzType="primary" nzSize="small" (click)="showModalRollover(data)" nzShape="round">Rollover</button>

                    </td>
                </tr>
                <tr [nzExpand]="expandSet.has(data.id)">
                    <td colSpan="8">{{ data.descripcion }}</td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</div>

<hr>

<div style="width: 60%; margin: auto;">
    <h4> Medidores virtuales </h4>
    <p> <span style="color: black; font-size: 20px; font-weight: bold;">Existencia: </span> <span style="font-size: 25px; font-weight: bold;"> {{ cantMV }} </span> </p>
    <hr>
    <nz-table #nzTable [nzData]="listOfDataMVirtuales" nzTableLayout="fixed" nzPageSize="4">
        <thead>
            <tr>
                <th nzWidth="60px"></th>
                <th nzWidth="30px"></th>
                <th nzWidth="30px"></th>
                <th>Codigo</th>
                <th>Estado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of nzTable.data">
                <tr>
                    <td [nzExpand]="expandSet.has(data.id)" nzShowExpand="true" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                    <td style="width: 30px;">
                        <button nz-button nzType="primary" (click)="editarMedidor(data,'v')" nzShape="circle">
                            <i nz-icon nzType="edit" nzTheme="outline"></i>
                        </button>
                    </td>
                    <td style="width: 30px;">
                        <button nz-button nzType="primary" (click)="eliminarMedidor(data,'v')" nzShape="circle">
                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                        </button>
                    </td>
                    <td>{{ data.codigo }}</td>
                    <td>{{ data.estado && 'Activo' || 'Inactivo'}}</td>
                    <td>
                        <button nz-button nzType="primary" nzSize="small" (click)="showModalMV(data)" nzShape="round">Admin</button>

                    </td>
                </tr>
                <tr [nzExpand]="expandSet.has(data.id)">
                    <td colSpan="6">{{ data.descripcion }}</td>
                </tr>
            </ng-container>
        </tbody>
    </nz-table>
</div>
<!-- Modal Formulario medidor-->
<nz-modal [(nzVisible)]="isVisible" nzTitle="Configuración Medidores" (nzOnCancel)="handleCancel()">
    <form nz-form nzLayout="vertical">
        <div class="row">
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Código del medidor</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                            <input type="text" [(ngModel)]="codigo" [ngModelOptions]="{standalone: true}" nz-input placeholder="Busca por código" />
                        </nz-input-group>
                        <ng-template #suffixIconButton>
                            <button nz-button (click)="busquedadMedidor()" [disabled]="disableVirtual" nzType="primary" nzSearch><i nz-icon nzType="search"></i></button>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Tipo de medidor</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <nz-radio-group [(ngModel)]="tipoMedidor" [ngModelOptions]="{standalone: true}" [nzDisabled]="disebleTipo" (ngModelChange)="changeTipo($event)">
                            <label nz-radio nzValue="f">Fisico</label>
                            <label nz-radio nzValue="v">Virtual</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <nz-form-item>
            <nz-form-label>Descripción</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input [(ngModel)]="descripcion" [disabled]="disableVirtual" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Serie</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input disabled="true" [(ngModel)]="serie" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Modelo</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input disabled="true" [(ngModel)]="modelo" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Direción IP</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input disabled="true" [(ngModel)]="direccionIp" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <div class="row">
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Lectura maxima</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <div style="display: flex; justify-content: flex-start;">
                            <nz-input-number [disabled]="disabledLec" [(ngModel)]="lecMax" [ngModelOptions]="{standalone: true}" [nzMin]="0" [nzStep]="1"></nz-input-number>
                            <label style="color: black; font-size: 17px; margin-left: 2%;"> kW</label>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-control>
                        <nz-form-label>Punto de conexión</nz-form-label>
                        <nz-radio-group [(ngModel)]="conexion" [ngModelOptions]="{standalone: true}">
                            <label nz-radio nzValue="1">Baja tensión</label>
                            <label nz-radio nzValue="2">Media tensión</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <nz-form-item>
            <nz-form-label>Multiplicador</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input nz-input [(ngModel)]="multiplicador" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <textarea nz-input [(ngModel)]="observacion" [ngModelOptions]="{standalone: true}" placeholder="Escribe aquí..."></textarea>
            </nz-form-control>
        </nz-form-item>
    </form>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
        <button nz-button nzType="primary" (click)="guardarMedidor()">Guardar</button>
    </div>
</nz-modal>

<!-- Modal Roolover -->
<nz-modal [(nzVisible)]="isVisibleRollover" nzTitle="Configuración Rollover" nzWidth="740" (nzOnCancel)="handleCancelRollover()">
    <form style="width: 500px; margin: auto;" nz-form nzLayout="vertical" (ngSubmit)="submitForm()" [formGroup]="validateForm">
        <h5> Configuración del Rollover </h5>
        <nz-form-item>
            <nz-form-label>Código del medidor</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input style="width: 100%; margin: 0px;" [(ngModel)]="codigoMedidor" [ngModelOptions]="{standalone: true}" disabled="true" placeholder="Escribe aquí..." />
            </nz-form-control>
        </nz-form-item>
        <div class="row">
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Fecha de Rollover</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <nz-date-picker [nzShowTime]="{ nzFormat: 'HH:mm' }" formControlName="fecha" nzFormat="yyyy-MM-dd HH:mm"></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Energia</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <nz-radio-group formControlName="energia">
                            <label nz-radio nzValue="false">Activa</label>
                            <label nz-radio nzValue="true">Reactiva</label>
                        </nz-radio-group>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Lectura antes del Rollover</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <div style="display: flex; justify-content: flex-start;">
                            <nz-input-number style="width: 100%; margin: 0px;" formControlName="lecturaAnterior" [nzMin]="0" [nzStep]="1">
                            </nz-input-number>
                            <label style="color: black; font-size: 17px; margin-left: 2%;"> kW</label>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Nueva lectura</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <div style="display: flex; justify-content: flex-start;">
                            <nz-input-number formControlName="lecturaNueva" style="width: 100%; margin: 0px;" [nzMin]="0" [nzStep]="1">
                            </nz-input-number>
                            <label style="color: black; font-size: 17px; margin-left: 2%;"> kW</label>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <textarea nz-input formControlName="observacion" placeholder="Escribe aquí..."></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <div class="row">
                    <div class="col">
                        <button nz-button style="width: 100%;" nzType="default" (click)="handleCancelRollover()">Cancelar</button>
                    </div>
                    <div class="col">
                        <button nz-button style="width: 100%;" nzType="primary" (click)="guardarRollover()">Guardar</button>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>

    </form>
    <br>
    <div style="background-color: #f3f9ff; padding: 15px;">
        <h6> Historico de Rollover </h6>
        <nz-table #nzTableRollover [nzData]="listOfDataRolloverMedidor" nzTableLayout="fixed" nzPageSize="5">
            <thead>
                <tr>
                    <th nzWidth="60px"></th>
                    <th>Fecha rollover</th>
                    <th>Ultima lectura</th>
                    <th>Nueva lectura</th>
                    <th>Energia</th>
                    <th nzWidth="30px"></th>
                    <th nzWidth="30px"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of nzTableRollover.data">
                    <tr>
                        <td [nzExpand]="expandSet.has(data.id)" nzShowExpand="true" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                        <td>{{ data.fecha | date:'yyyy/M/dd'}}</td>
                        <td>{{ data.lecturaAnterior | number:'':'en_US'}}</td>
                        <td>{{ data.lecturaNueva | number:'':'en_US'}}</td>
                        <td>{{ data.energia && 'Reactiva' || 'Activa'}}</td>
                        <td style="width: 30px;">
                            <button nz-button nzType="primary" (click)="editarRollover(data)" nzShape="circle">
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </button>
                        </td>
                        <td style="width: 30px;">
                            <button nz-button nzType="primary" (click)="eliminarRollover(data)" nzShape="circle">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(data.id)">
                        <td colSpan="7"><span style="color: black; font-weight: bold;"> Observación: </span> {{ data.observacion }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="primary" (click)="handleOkRollover()">OK</button>
    </div>
</nz-modal>

<!-- Modar medidor virtual -->
<nz-modal [(nzVisible)]="isVisibleMV" nzTitle="Medidor virtual" nzWidth="600" (nzOnCancel)="handleCancelMV()">
    <form nz-form nzLayout="vertical" (ngSubmit)="submitForm()" [formGroup]="validateFormMedidorV">
        <h5> Configuración medidores virtuales </h5>
        <nz-form-item>
            <nz-form-label>Código del medidor</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <input type="text" nz-input disabled="true" style="width: 40%;" [(ngModel)]="codMV" [ngModelOptions]="{standalone: true}" />
            </nz-form-control>
        </nz-form-item>
        <div class="row">
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Medidor en operacion</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                            <input type="text" [(ngModel)]="codigo" [ngModelOptions]="{standalone: true}" nz-input placeholder="Busca por código" />
                        </nz-input-group>
                        <ng-template #suffixIconButton>
                            <button nz-button (click)="busquedadMedidor()" nzType="primary" nzSearch><i nz-icon
                                    nzType="search"></i></button>
                        </ng-template>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col">
                <nz-form-item>
                    <nz-form-label>Tipo de operacion</nz-form-label>
                    <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                        <nz-select formControlName="operacion">
                            <nz-option nzValue="true" nzLabel="( + ) Suma"></nz-option>
                            <nz-option nzValue="false" nzLabel="( - ) Resta"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <nz-form-item>
            <nz-form-label>Observación</nz-form-label>
            <nz-form-control nzErrorTip="Por favor escriba el dato correcto!">
                <textarea nz-input formControlName="observacion" placeholder="Escribe aquí..."></textarea>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <div class="row">
                    <div class="col">
                        <button nz-button style="width: 100%;" nzType="default" (click)="handleCancelMV()">Cancelar</button>
                    </div>
                    <div class="col">
                        <button nz-button style="width: 100%;" nzType="primary" (click)="guardarMVirtual()">Guardar</button>
                    </div>
                </div>
            </nz-form-control>
        </nz-form-item>

    </form>
    <br>
    <div style="background-color: #f3f9ff; padding: 15px;">
        <h6> Operaciones </h6>
        <nz-table #nzTableMV [nzData]="MVirtualesFilter" nzTableLayout="fixed" nzPageSize="4">
            <thead>
                <tr>
                    <th nzWidth="60px"></th>
                    <th>Medidor</th>
                    <th>Operacion</th>
                    <th nzWidth="20px"></th>
                    <th nzWidth="20px"></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let data of nzTableMV.data">
                    <tr>
                        <td [nzExpand]="expandSet.has(data.id)" nzShowExpand="true" (nzExpandChange)="onExpandChange(data.id, $event)"></td>
                        <td>{{ data.medidorVirtual.codigo }}</td>
                        <td>{{ data.operacion && 'Suma' || 'Resta'}}</td>
                        <td style="width: 20px;">
                            <button nz-button nzType="primary" [disabled]="permisoAdmin" (click)="editarMVirtual(data)" nzShape="circle">
                                <i nz-icon nzType="edit" nzTheme="outline"></i>
                            </button>
                        </td>
                        <td style="width: 20px;">
                            <button nz-button nzType="primary" [disabled]="true" (click)="eliminarMVirtual(data)" nzShape="circle">
                                <i nz-icon nzType="delete" nzTheme="outline"></i>
                            </button>
                        </td>
                    </tr>
                    <tr [nzExpand]="expandSet.has(data.id)">
                        <td colSpan="5"><span style="color: black; font-weight: bold;"> Observación: </span> {{ data.observacion }}</td>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="primary" (click)="handleOkMV()">OK</button>
    </div>
</nz-modal>